
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Партнеры</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'user:profile' %}">Кабинет</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">Партнеры</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5">

                <div class="card  card-box">
                    <div class="card-head text-center">
                        <div class="header">
                            <header>Реферальная ссылка:</header><br>
                            https://deltus.biz/ru/user/register/{{ request.user.pk }}
                        </div>
                        <hr>
                        <div class="header">
                            <header>Вас пригласил:</header><br>
                            <a href="{% url 'user:info' user_id=request.user.profile.referal.pk %}">{{ request.user.profile.referal }}</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="card  card-box">
                    <div class="card-head">
                        <div class="header">
                            <header>Список партнеров:</header>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Пользователь</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Дата регистрации</th>
                                    <th scope="col">Skype</th>
                                    <th scope="col">Телефон</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for referral in referrals %}
                                        <tr>
                                            <td>{{ referral.pk }}</td>
                                            <td><a href="{% url 'user:info' user_id=referral.pk %}">{{ referral.user.username }}</a></td>
                                            <td>{{ referral.user.email }}</td>
                                            <td>{{ referral.user.date_joined|date:'d-m-Y' }}</td>
                                            {% if referral.user.profile.skype != None %}
                                                 <td>{{ referral.user.profile.skype }}</td>
                                                {% else %}
                                                <td>---</td>
                                            {% endif %}
                                            {% if referral.user.profile.phone != None %}
                                                 <td>{{ referral.user.profile.phone }}</td>
                                                {% else %}
                                                <td>---</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-sidebar" style="padding-bottom: 500px">
                    </div>
                </div>
            </div>

{% endblock %}