{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <title>Подтверждение Email</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
    <link href="/static/panel/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="/static/panel/assets/plugins/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
	<link href="/static/panel/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="/static/panel/assets/css/pages/extra_pages.css">
	<!-- favicon -->
    <link rel="shortcut icon" href="/static/panel/assets/img/favicon.ico" />
</head>
<body>
    <div class="limiter">
		<div class="container-login100 page-background">
			<div class="wrap-login100">
                 <div class="text-center">
                <p style="color: white">Ссылка не действительна</p>

                 </div>
                <div class="text-center">
                    <a href="{% url 'home:home' %}" style="color: white">Главная</a>
                </div>
			</div>
		</div>
	</div>
    <!-- start js include path -->
    <script src="/static/panel/assets/plugins/jquery/jquery.min.js" ></script>
    <!-- bootstrap -->
    <script src="/static/panel/assets/plugins/bootstrap/js/bootstrap.min.js" ></script>
    <script src="/static/panel/assets/js/pages/extra_pages/login.js" ></script>
    <!-- end js include path -->
</body>
</html>