
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">{% trans 'Личный кабинет' %}</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'home:home' %}">Главная</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">{% trans 'Личный кабинет' %}</li>
                    </ol>
                </div>
            </div>



        <div class="state-overview">
            <div class="row">

                <div class="col-lg-3 col-sm-6">
                    <div style="padding-top: 0px; padding-bottom: 0px" class="overview-panel info-box purple">
                        <div class="symbol">
                            <i class="fa fa-users usr-clr"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h3" data-counter="counterup" data-value="23"> Баланс <br> USD:</p>
                            <p>${{ request.user.profile.balance_usd }} </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div style="padding-top: 0px; padding-bottom: 0px" class="overview-panel info-box purple">
                        <div class="symbol">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h3" data-counter="counterup" data-value="48">Баланс вывода USD:</p>
                            <p>${{ request.user.profile.zarab_usd }} </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div style="padding-top: 0px; padding-bottom: 0px" class="overview-panel info-box purple">
                        <div class="symbol">
                            <i class="fa fa-users usr-clr"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h3" data-counter="counterup" data-value="23">  Баланс <br> BTC:</p>
                            <p> BTC: {{ request.user.profile.balance_usd }}</p>
                        </div>
                    </div>
                </div>
                <div  class="col-lg-3 col-sm-6">
                    <div style="padding-top: 0px; padding-bottom: 0px" class="overview-panel info-box purple">
                        <div class="symbol">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h3" data-counter="counterup" data-value="48"> Баланс вывода BTC: </p>
                            <p>BTC: {{ request.user.profile.zarab_btc }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="state-overview">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div style="padding-top: 0px; padding-bottom: 5px" class="overview-panel info-box bg-success">
                        <div class="symbol">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h3" data-counter="counterup" data-value="3421">Партнерские вознаграждения</p><span></span>
                            <h4>${{ request.user.profile.bonus_usd }}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div style="padding-top: 0px; padding-bottom: 5px" class="overview-panel info-box bg-success">
                        <div class="symbol">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h3" data-counter="counterup" data-value="3421">Партнерские вознаграждения</p><span></span>
                            <h4>BTC: {{ request.user.profile.bonus_btc }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>




{#            <div class="row">#}
{##}
{#                <div class="col-sm-3 col-md-3">#}
{#                    <div class="card">#}
{#                        <div class="panel-body">#}
{#                            <h3>Баланс USD:</h3>#}
{#                            <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope active">#}
{#                                <div class="progress-bar progress-bar-success width-100" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                            <h3><b>${{ request.user.profile.balance_usd }}</b></h3>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-3 col-md-3">#}
{#                    <div class="card">#}
{#                        <div class="panel-body">#}
{#                            <h3>Баланс вывода USD:</h3>#}
{#                            <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope active">#}
{#                                <div class="progress-bar progress-bar-danger width-100" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                            <h3><b>BTC:  {{ request.user.profile.zarab_btc }}</b></h3>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-3 col-md-3">#}
{#                    <div class="card">#}
{#                        <div class="panel-body">#}
{#                            <h3>Баланс BTC:</h3>#}
{#                            <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope active">#}
{#                                <div class="progress-bar progress-bar-success width-100" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                            <h3><b>BTC: {{ request.user.profile.balance_btc }}</b></h3>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-3 col-md-3">#}
{#                    <div class="card">#}
{#                        <div class="panel-body">#}
{#                            <h3>Баланс вывода BTC:</h3>#}
{#                            <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope active">#}
{#                                <div class="progress-bar progress-bar-danger width-100" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                            <h3><b>BTC:  {{ request.user.profile.zarab_btc }}</b></h3>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{##}
{#                <div class="col-sm-6 col-md-6">#}
{#                    <div class="card">#}
{#                        <div class="panel-body">#}
{#                            <h3>Бонусы USD:</h3>#}
{#                            <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope active">#}
{#                                <div class="progress-bar progress-bar-grean width-100" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                            <h3><b>${{ request.user.profile.bonus_usd }}</b></h3>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-6 col-md-6">#}
{#                    <div class="card">#}
{#                        <div class="panel-body">#}
{#                            <h3>Бонусы BTC:</h3>#}
{#                            <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope active">#}
{#                                <div class="progress-bar progress-bar-grean width-100" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                            {% if request.user.profile.bonus_btc != None %}#}
{#                                <h3>{{ request.user.profile.bonus_btc }}</h3>#}
{#                                {% else %}#}
{#                                <h3>---</h3>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
                    <div class="state-overview">
						<div class="row">

					        <div class="col-xl-3 col-md-6 col-12">
					          <div style="padding-left: 25px;padding-top: 0px; padding-bottom: 0px" class="overview-panel info-box bg-blue">
					            <span class="info-box-icon push-bottom"><i class="material-icons">style</i></span>
					            <div class="info-box-content">
					              <span class="info-box-text">Реферальный <br> статус USD:</span>
                                    {% if request.user.profile.status_referal_usd != None %}
                                        <span class="info-box-number">{{ request.user.profile.status_referal_usd }}</span>
                                        {% else %}
                                        <span class="info-box-number"> --- </span>
                                    {% endif %}
{#					              <div class="progress">#}
{#					                <div class="progress-bar width-100"></div>#}
{#					              </div>#}
{#					              <span class="progress-description">#}
{#					                    Осталось :#}
{#                                  </span>#}
					            </div>
					            <!-- /.info-box-content -->
					          </div>
					          <!-- /.info-box -->
					        </div>
					        <!-- /.col -->
					        <div class="col-xl-3 col-md-6 col-12">
					          <div style="padding-left: 25px;padding-top: 0px; padding-bottom: 0px" class="overview-panel info-box bg-blue">
					            <span class="info-box-icon push-bottom"><i class="material-icons">card_travel</i></span>
					            <div class="info-box-content">
					              <span class="info-box-text">Статус оборота <br> USD:</span>
					              {% if request.user.profile.new_status_usd != None %}
                                        <span class="info-box-number">{{ request.user.profile.new_status_usd }}</span>
                                        {% else %}
                                        <span class="info-box-number"> --- </span>
                                    {% endif %}
{#					              <div class="progress">#}
{#					                <div class="progress-bar width-100"></div>#}
{#					              </div>#}
{#					              <span class="progress-description">#}
{#                                      Осталось :#}
{#                                  </span>#}
					            </div>
					            <!-- /.info-box-content -->
					          </div>
					          <!-- /.info-box -->
					        </div>
					        <!-- /.col -->
					        <div class="col-xl-3 col-md-6 col-12">
					          <div style="padding-left: 25px;padding-top: 0px; padding-bottom: 0px" class="overview-panel info-box bg-blue">
					            <span class="info-box-icon push-bottom"><i class="material-icons">phone_in_talk</i></span>
					            <div class="info-box-content">
					              <span class="info-box-text">Реферальный статус <br> BTC:</span>
					              {% if request.user.profile.status_referal_btc != None %}
                                        <span class="info-box-number">{{ request.user.profile.status_referal_btc }}</span>
                                        {% else %}
                                        <span class="info-box-number"> --- </span>
                                    {% endif %}
{#					              <div class="progress">#}
{#					                <div class="progress-bar width-100"></div>#}
{#					              </div>#}
{#					              <span class="progress-description">#}
{#					                    Осталось :#}
{#					                  </span>#}
					            </div>
					            <!-- /.info-box-content -->
					          </div>
					          <!-- /.info-box -->
					        </div>
					        <!-- /.col -->
					        <div class="col-xl-3 col-md-6 col-12">
					          <div style="padding-left: 25px;padding-top: 0px; padding-bottom: 0px" class="overview-panel info-box bg-blue">
					            <span class="info-box-icon push-bottom"><i class="material-icons">monetization_on</i></span>
					            <div class="info-box-content">
					              <span class="info-box-text">Статус оборота <br> BTC :</span>
					               {% if request.user.profile.status_referal_btc != None %}
                                        <span class="info-box-number">{{ request.user.profile.status_referal_btc }}</span>
                                        {% else %}
                                        <span class="info-box-number"> --- </span>
                                   {% endif %}
{#					              <div class="progress">#}
{#					                <div class="progress-bar width-100"></div>#}
{#					              </div>#}
{#					              <span class="progress-description">#}
{#					                    Осталось#}
{#					                  </span>#}
					            </div>
					            <!-- /.info-box-content -->
					          </div>
					          <!-- /.info-box -->
					        </div>
					        <!-- /.col -->
					      </div>
						</div>



        <div class="row">
{#            <div class="col-md-3">#}
{#                <div class="card">#}
{#                    <div class="card-head card-topline-aqua text-center">#}
{#                        <header>Реферальный статус USD:</header>#}
{#                    </div>#}
{#                    <div class="card-body no-padding height-9 text-center">#}
{#                        <div class="profile-desc text-center">#}
{#                            {% if request.user.profile.status_referal_usd != None %}#}
{#                                <h3>{{ request.user.profile.status_referal_usd }}</h3>#}
{#                                {% else %}#}
{#                                <h3>---</h3>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                <div class="card">#}
{#                    <div class="card-head card-topline-aqua text-center">#}
{#                        <header>Статус оборота <br> USD:</header>#}
{#                    </div>#}
{#                    <div class="card-body no-padding height-9 text-center">#}
{#                        <div class="profile-desc text-center">#}
{#                            {% if request.user.profile.new_status_usd != None %}#}
{#                                <h3>{{ request.user.profile.new_status_usd }}</h3>#}
{#                                {% else %}#}
{#                                <h3>---</h3>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                <div class="card">#}
{#                    <div class="card-head card-topline-aqua text-center">#}
{#                        <header>Реферальный статус <br> BTC:</header>#}
{#                    </div>#}
{#                    <div class="card-body no-padding height-9 text-center">#}
{#                        <div class="profile-desc text-center">#}
{#                            {% if request.user.profile.status_referal_btc != None %}#}
{#                                <h3>{{ request.user.profile.status_referal_btc }}</h3>#}
{#                                {% else %}#}
{#                                <h3>---</h3>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                <div class="card">#}
{#                    <div class="card-head card-topline-aqua text-center">#}
{#                        <header>Статус оборота <br> BTC :</header>#}
{#                    </div>#}
{#                    <div class="card-body no-padding height-9 text-center">#}
{#                        <div class="profile-desc text-center">#}
{#                            {% if request.user.profile.new_status_btc != None %}#}
{#                                <h3>{{ request.user.profile.new_status_btc }}</h3>#}
{#                                {% else %}#}
{#                                <h3>---</h3>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-topline-aqua">
                        <div class="card-body no-padding height-9">
{#                            <div class="profile-usertitle">#}
{#                                <div class="profile-usertitle-name"> <b>{{ request.user }}</b> </div>#}
{#                                <div class="profile-usertitle-job"> *** </div>#}
{#                            </div>#}
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Сумма пополнений USD:</b> <a class="pull-right">${{ request.user.profile.filled_usd }} </a>
                                </li>
                                <li class="list-group-item">
                                    <b>Сумма пополнений BTC:</b> <a class="pull-right">BTC: {{ request.user.profile.filled_btc }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Сумма выплат USD :</b> <a class="pull-right">${{ request.user.profile.out_usd }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Сумма выплат BTC :</b> <a class="pull-right">BTC: {{ request.user.profile.out_btc }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Сумма выплат партнерских USD :</b> <a class="pull-right">${{ request.user.profile.out_bonus_usd }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Сумма выплат партнерских BTC :</b> <a class="pull-right">BTC: {{ request.user.profile.out_bonus_btc }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Зароботано бонусов USD :</b> <a class="pull-right">${{ request.user.profile.zarab_premia_usd }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Зароботано бонусов BTC :</b> <a class="pull-right">BTC: {{ request.user.profile.zarab_premia_btc }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-head card-topline-aqua text-center">
                            <header>Кнопка активации:</header>
                        </div>
                        <div class="card-body no-padding height-9 text-center">
                            <div class="profile-desc text-center">
                                {% if request.user.profile.btn_active == False %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="start" value="yes">
                                        <button type="submit" class="btn btn-circle btn-danger  btn-lg m-b-10">Получить начисления</button>
                                    </form>
                                    {% else %}
                                    <button type="button" class="btn btn-circle btn-success  btn-lg m-b-10">
                                        Вы активировали <br> получения начислений
                                    </button>
                                {% endif %}
                                <hr>
                                <p>Если не активировать кнопку начисления <br> то депозиту не получите</p>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-head card-topline-aqua text-center">
                            <header>Реферальная ссылка:</header>
                        </div>
                        <div class="card-body no-padding height-9 text-center">
                            <div class="profile-desc text-center">
                                <p id="cont">https://deltus.biz/ru/user/register/{{ request.user.pk }}</p>
                                <button class="btn dark btn-outline btn-circle m-b-10" id="userButton">Копировать</button>
                            </div>
                        </div>
                    </div>

{#                    <div class="card">#}
{#                        <div class="card-head card-topline-aqua">#}
{#                            <header> {{ day_calendar }}:</header>#}
{#                        </div>#}
{#                        <div class="card-body no-padding height-9">#}
{#                            <div class="profile-desc">#}
{#                                <p>Ваш статус: {{ request.user.profile.new_status_usd }}</p>#}
{#                                <p>Ваш статус: {{ request.user.profile.nwe_status_btc }}</p>#}
{#                                <p>Оборот структури usd: {{ request.user.profile.deposit_usd }}</p>#}
{#                                <p>Оборот структури btc: {{ request.user.profile.deposit_btc }}</p>#}
{#                                {% for item_status in status %}#}
{#                                    <p>{{ item_status.name }} | ${{ item_status.oborot }} | ${{ item_status.premia }}</p>#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        <div class="state-overview">
            <div class="row">

                <div class="col-lg-3 col-sm-6">
                    <div style="padding-top: 0px; padding-bottom: 0px" class="overview-panel info-box purple">
                        <div class="symbol">
                            <i class="fa fa-users usr-clr"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h3" data-counter="counterup" data-value="23"> Cумма Депозит USD</p>
                            <p>${{ request.user.profile.deposit_usd }} </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div style="padding-top: 0px; padding-bottom: 0px" class="overview-panel info-box purple">
                        <div class="symbol">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h3" data-counter="counterup" data-value="48">Оборот <br> USD:</p>
                            <p>${{ request.user.profile.oborot_usd }} </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div style="padding-top: 0px; padding-bottom: 0px" class="overview-panel info-box purple">
                        <div class="symbol">
                            <i class="fa fa-users usr-clr"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h3" data-counter="counterup" data-value="23"> Cумма Депозит BTC</p>
                            <p>BTC: {{ request.user.profile.deposit_btc }} </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div style="padding-top: 0px; padding-bottom: 0px" class="overview-panel info-box purple">
                        <div class="symbol">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h3" data-counter="counterup" data-value="48">Оборот <br> BTC:</p>
                            <p>BTC: {{ request.user.profile.oborot_btc }} </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-sidebar" style="padding-bottom: 100px">
                    </div>
                </div>
            </div>

        </div>
    </div>



    <style>
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
</style>

<script>
    var button = document.getElementById('userButton');
button.addEventListener('click', function () {
  //нашли наш контейнер
  var ta = document.getElementById('cont');
  //производим его выделение
  var range = document.createRange();
  range.selectNode(ta);
  window.getSelection().addRange(range);

  //пытаемся скопировать текст в буфер обмена
  try {
    document.execCommand('copy');
  } catch(err) {
    console.log('Can`t copy, boss');
  }
  //очистим выделение текста, чтобы пользователь "не парился"
  window.getSelection().removeAllRanges();

  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copy to clipboard";
});
</script>

{% endblock %}