
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Обновления профиля</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'home:home' %}">Главная</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">Обновления профиля</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card  card-box">
                        <div class="card-header">
                            <form method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4><i class="fa fa-user" aria-hidden="true"></i> Пользователь: <i>{{ request.user }}</i></h4>
                                        <hr>
                                    </div>
                                    {% csrf_token %}
                                    <div class="col-md-12">
                                        <h5 style="padding-left: 10px"><i class="fa fa-user" aria-hidden="true"></i> Им'я</h5>
                                        <div>{{ user_form.first_name|add_class:'form-control input-lg'}}</div>
                                    </div>

                                    <div class="col-md-12">
                                        <h5 style="padding-left: 10px"><i class="fa fa-user-o" aria-hidden="true"></i> Фамилия</h5>
                                        <div>{{ user_form.last_name|add_class:'form-control input-lg'}}</div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <br>
                                        <button name="Submit1" class="btn  btn-primary">Сохранить</button>
                                    </div>
                                </div>
{#                            </form>#}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-box">
                        <div class="card-header">
{#                            <form method="post">#}
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4><i class="fa fa-phone" aria-hidden="true"></i> Связь</h4>
                                        <hr>
                                    </div>
{#                                    {% csrf_token %}#}
                                    <div class="col-md-12">
                                        <h5 style="padding-left: 10px"><i class="fa fa-skype" aria-hidden="true"></i> Skype:</h5>
                                        <div>{{ profile_form.skype|add_class:'form-control input-lg'}}</div>
                                    </div>

                                    <div class="col-md-12">
                                        <h5 style="padding-left: 10px"><i class="fa fa-phone" aria-hidden="true"></i> Номер телефона:</h5>
                                        <div>{{ profile_form.phone|add_class:'form-control input-lg'}}</div>
                                    </div>

                                    <div class="col-md-12">
                                        <h5 style="padding-left: 10px"><i class="fa fa-vk" aria-hidden="true"></i> Вконтакте:</h5>
                                        <div>{{ profile_form.url_vk|add_class:'form-control input-lg'}}</div>
                                    </div>

                                    <div class="col-md-12">
                                        <h5 style="padding-left: 10px"><i class="fa fa-odnoklassniki" aria-hidden="true"></i> Одноклассники:</h5>
                                        <div>{{ profile_form.url_ok|add_class:'form-control input-lg'}}</div>
                                    </div>

                                    <div class="col-md-12">
                                        <h5 style="padding-left: 10px"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook:</h5>
                                        <div>{{ profile_form.url_facebook|add_class:'form-control input-lg'}}</div>
                                    </div>
                                     <div class="col-md-12 col-sm-12 col-xs-12">
                                            <br>
                                        <button name="Submit1" class="btn  btn-primary">Сохранить</button>
                                     </div>
                                </div>
{#                            </form>#}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-box">
                        <div class="card-header">
{#                            <form method="post">#}
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4><i class="fa fa-money" aria-hidden="true"></i> Платежные реквизиты</h4>
                                        <hr>
                                    </div>
{#                                    {% csrf_token %}#}

                                    <div class="col-md-12">
                                        <h5 style="padding-left: 10px"><i class="fa fa-credit-card" aria-hidden="true"></i> Payeer:</h5>
                                        <div>{{ profile_form.payeer|add_class:'form-control input-lg'}}</div>
                                    </div>

                                    <div class="col-md-12">
                                        <h5 style="padding-left: 10px"><i class="fa fa-credit-card" aria-hidden="true"></i> Perfectmoney:</h5>
                                        <div>{{ profile_form.perfectmoney|add_class:'form-control input-lg'}}</div>
                                    </div>

                                     <div class="col-md-12 col-sm-12 col-xs-12">
                                            <br>
                                        <button name="Submit1" class="btn  btn-primary">Сохранить</button>
                                     </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}