{#<html>#}
{#  <head>#}
{#    <title>Регистрация</title>#}
{#  </head>#}
{#  <body>#}
{#    <form action="" method="post">#}
{#      {% csrf_token %}#}
{#      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->#}
{#      {{ form.as_p }}#}
{#      <button type="submit">Зарегистрироваться</button>#}
{#    </form>#}
{#  {{ my_referal }}#}
{##}
{#  </body>#}
{#</html>#}
{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <title>Регистрация</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
    <link href="/static/panel/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="/static/panel/assets/plugins/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
	<link href="/static/panel/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="/static/panel/assets/css/pages/extra_pages.css">
	<!-- favicon -->
    <link rel="shortcut icon" href="/static/panel/assets/img/favicon.ico" />
</head>
<body>
{#    <div class="limiter">#}
		<div class="container-login100 page-background">
			<div style="background: #1d282d" class="wrap-login100">


                <form action="" method="post">
                    {% csrf_token %}
                    <span class="login100-form-logo">
                    <a href="{% url 'home:home' %}">
                        <img src="/static/site/images/header/logo_d2.png" alt="">
                    </a>
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                        Регистрация
                    </span>


                    {% if form.errors %}
                        <div style="padding: 10px; border: 2px solid #cc5e00; border-radius: 25px; background: #d3d7d1; ">
                            <p>{{ form.errors }}</p>
                        </div>
                    {% endif %}
                    <br>

                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                        {% render_field form.username class="input100"  placeholder="Username" %}
                    </div><!-- /.col-sm-6 -->
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        {% render_field form.email class="input100"  placeholder="Email" %}
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        {% render_field form.password1 class="input100"  placeholder="Password" %}
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        {% render_field form.password2 class="input100"  placeholder="Confirm Password" %}
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Зарегистрироваться
                        </button>
                    </div>
                    <br>
                </form>
                {{ my_referal }}


			</div>
		</div>
{#	</div>#}
    <!-- start js include path -->
    <script src="/static/panel/assets/plugins/jquery/jquery.min.js" ></script>
    <!-- bootstrap -->
    <script src="/static/panel/assets/plugins/bootstrap/js/bootstrap.min.js" ></script>
    <script src="/static/panel/assets/js/pages/extra_pages/login.js" ></script>
    <!-- end js include path -->
</body>
</html>