
{% extends 'base_panel.html' %}
{% load i18n %}

{% block content %}
<div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Партнеры</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'user:profile' %}">Кабинет</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">Партнеры</li>
                    </ol>
                </div>
            </div>
            <div class="row">
{#                <div class="col-md-6 col-sm-6">#}

                    <div class="col-xs-4 col-md-4 col-sm-12">
                        <div class="card card-accent-theme">
                            <div class=" products-widget">
                                <div class="card-header">
                                    <hr>
                                    <p>Имя: <b>{{ profile_user.first_name }}</b> </p>
                                    <hr>
                                    <p>Фамилия: <b>{{ profile_user.last_name }}</b> </p>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 col-md-4 col-sm-12">
                        <div class="card card-accent-theme">
                            <div class=" products-widget">
                                <div class="card-header">
                                    <hr>
                                    <p>Пользователь ID:
                                        {% if profile_user.profile.pk != None %}
                                            <b>{{ profile_user.profile.pk }}</b>
                                        {% endif %}
                                    </p>
                                    <hr>
                                    <p>Пользователь: <b>{{ profile_user.profile.user }}</b> </p>
                                    <hr>
                                    <p>Пригласил: <b>{{ profile_user.profile.referal }}</b> </p>
                                    <hr>
                                    <p>Email: <b>{{ profile_user.email }}</b> </p>
                                    <hr>
                                    <p>Skype:
                                        {% if profile_user.profile.skype != None %}
                                            <b>{{ profile_user.profile.skype }}</b>
                                        {% endif %}
                                    </p>
                                    <hr>
                                    <p>Номер телефона:
                                        {% if profile_user.profile.phone != None %}
                                            <b>{{ profile_user.profile.phone }}</b>
                                        {% endif %}
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 col-md-4 col-sm-12">
                        <div class="card card-accent-theme">
                            <div class=" products-widget">
                                <div class="card-header">
                                    <hr>
                                    <p>Вконтакте:
                                        {% if profile_user.profile.url_vk != None %}
                                            <b>{{ profile_user.profile.url_vk }}</b>
                                        {% endif %}
                                    </p>
                                    <hr>
                                    <p>Одноклассники:
                                        {% if profile_user.profile.url_ok != None %}
                                            <b>{{ profile_user.profile.url_ok }}</b>
                                        {% endif %}
                                    </p>
                                    <hr>
                                    <p>Facebook:
                                        {% if profile_user.profile.url_facebook != None %}
                                            <b>{{ profile_user.profile.url_facebook }}</b>
                                        {% endif %}
                                    </p>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            <div class="col-md-12">
                <div class="card  card-box">
                    <div class="card-head">
                        <div class="header">
                            <header>Список партнеров:</header>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Пользователь</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Дата регистрации</th>
                                    <th scope="col">Skype</th>
                                    <th scope="col">Телефон</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for referral in referrals %}
                                        <tr>
                                            <td>{{ referral.pk }}</td>
                                            <td><a href="{% url 'user:info' user_id=referral.pk %}">{{ referral.user.username }}</a></td>
                                            <td>{{ referral.user.email }}</td>
                                            <td>{{ referral.user.date_joined|date:'d-m-Y' }}</td>
                                            {% if referral.user.profile.skype != None %}
                                                 <td>{{ referral.user.profile.skype }}</td>
                                                {% else %}
                                                <td>---</td>
                                            {% endif %}
                                            {% if referral.user.profile.phone != None %}
                                                 <td>{{ referral.user.profile.phone }}</td>
                                                {% else %}
                                                <td>---</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}