{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<p>Logged out!</p>#}
{##}
{#<a href="{% url 'login'%}">Click here to login again.</a>#}
{#</body>#}
{#</html>#}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <title>Log Out</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
    <link href="/static/panel/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="/static/panel/assets/plugins/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
	<link href="/static/panel/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="/static/panel/assets/css/pages/extra_pages.css">
	<!-- favicon -->
    <link rel="shortcut icon" href="/static/panel/assets/img/favicon.ico" />
</head>
<body>
    <div class="limiter">
		<div class="container-login100 page-background">
			<div style="background: #1d282d" class="wrap-login100">

					<span class="login100-form-logo">
                        <a href="{% url 'home:home' %}">
                            <img src="/static/site/images/header/logo_d2.png" alt="">
                        </a>
                    </span>
					<span class="login100-form-title p-b-34 p-t-27">
						Cпасибо что пользуетесь нашим сайтом. Ждем вашего возвращения !
					</span>

					<div class="container-login100-form-btn">
						<a href="{% url 'login'%}">
                        <button class="login100-form-btn">

							Вход

						</button>
                        </a>
					</div>


			</div>
		</div>
	</div>
    <!-- start js include path -->
    <script src="/static/panel/assets/plugins/jquery/jquery.min.js" ></script>
    <!-- bootstrap -->
    <script src="/static/panel/assets/plugins/bootstrap/js/bootstrap.min.js" ></script>
    <script src="/static/panel/assets/js/pages/extra_pages/login.js" ></script>
    <!-- end js include path -->
</body>
</html>