{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#{% if form.errors %}#}
{#<p>Your username and password didn't match. Please try again.</p>#}
{#{% endif %}#}
{##}
{#{% if next %}#}
{#    {% if user.is_authenticated %}#}
{#    <p>Your account doesn't have access to this page. To proceed,#}
{#    please login with an account that has access.</p>#}
{#    {% else %}#}
{#    <p>Please login to see this page.</p>#}
{#    {% endif %}#}
{#{% endif %}#}

{#<form method="post" action="{% url 'login' %}">#}
{#{% csrf_token %}#}
{##}
{#<div>#}
{#  <td>{{ form.username.label_tag }}</td>#}
{#  <td>{{ form.username }}</td>#}
{#</div>#}
{#<div>#}
{#  <td>{{ form.password.label_tag }}</td>#}
{#  <td>{{ form.password }}</td>#}
{#</div>#}
{##}
{#<div>#}
{#  <input type="submit" value="login" />#}
{#  <input type="hidden" name="next" value="{{ next }}" />#}
{#</div>#}
{#</form>#}
{##}
{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
{##}
{#</body>#}
{#</html>#}
{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <title>Log In</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
    <link href="/static/panel/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="/static/panel/assets/plugins/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
	<link href="/static/panel/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="/static/panel/assets/css/pages/extra_pages.css">
	<!-- favicon -->
    <link rel="shortcut icon" href="/static/panel/assets/img/favicon.ico" />
</head>
<body>
{#    <div class="limiter">#}
		<div class="container-login100 page-background">
			<div style="background: #1d282d" class="wrap-login100">




                <form action="" method="post">
                    {% csrf_token %}
                    <span class="login100-form-logo">
                    <a href="{% url 'home:home' %}">
                        <img src="/static/site/images/header/logo_d2.png" alt="">
                    </a>

                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                        Вход
                    </span>
                    {% if form.errors %}
                         <p style="color:pink;">Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
                    {% endif %}

                    {% if next %}
                    {% if user.is_authenticated %}
                    <p style="color: pink">Ваша учетная запись не имеет доступа к этой странице. Чтобы продолжить, пожалуйста, войдите в систему с учетной записью, которая имеет доступ.</p>
                    {% else %}
                    <p style="color: pink">Пожалуйста, войдите, чтобы увидеть эту страницу.</p>
                    {% endif %}
                    {% endif %}
                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                        {% render_field form.username class="input100"  placeholder="Username" %}
                    </div><!-- /.col-sm-6 -->
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        {% render_field form.password class="input100"  placeholder="Password" %}
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn"  name="next" value="{{ next }}">
                            Login
                        </button>
                    </div>
                    <br>
                    <div class="text-center">
                        <a class="txt1" href="{% url 'password_reset' %}">
                            Забыли пароль?
                        </a>

                        <a class="txt1" href="{% url 'user:stregister' %}">
                           Регистрация
                        </a>
                    </div>
                </form>



			</div>
		</div>
	</div>
    <!-- start js include path -->
    <script src="/static/panel/assets/plugins/jquery/jquery.min.js" ></script>
    <!-- bootstrap -->
    <script src="/static/panel/assets/plugins/bootstrap/js/bootstrap.min.js" ></script>
    <script src="/static/panel/assets/js/pages/extra_pages/login.js" ></script>
    <!-- end js include path -->
</body>
</html>