{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>{% if validlink %}#}
{#        <p>Please enter (and confirm) your new password.</p>#}
{#        <form action="" method="post">#}
{#            <div style="display:none">#}
{#                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">#}
{#            </div>#}
{#            <table>#}
{#                <tr>#}
{#                    <td>{{ form.new_password1.errors }}#}
{#                        <label for="id_new_password1">New password:</label></td>#}
{#                    <td>{{ form.new_password1 }}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>{{ form.new_password2.errors }}#}
{#                        <label for="id_new_password2">Confirm password:</label></td>#}
{#                    <td>{{ form.new_password2 }}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td></td>#}
{#                    <td><input type="submit" value="Change my password" /></td>#}
{#                </tr>#}
{#            </table>#}
{#        </form>#}
{#    {% else %}#}
{#        <h1>Password reset failed</h1>#}
{#        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>#}
{#    {% endif %}#}
{##}
{#</body>#}
{#</html>#}
{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <title>Log In</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
    <link href="/static/panel/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="/static/panel/assets/plugins/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
	<link href="/static/panel/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="/static/panel/assets/css/pages/extra_pages.css">
	<!-- favicon -->
    <link rel="shortcut icon" href="/static/panel/assets/img/favicon.ico" />
</head>
<body>
    <div class="limiter">
		<div class="container-login100 page-background">
			<div class="wrap-login100">


                             {% if validlink %}


                        <form action="" method="post">
                                        {% csrf_token %}
                                        <span class="login100-form-logo">
                                        <a href="{% url 'home:home' %}">
                                            <i class="zmdi zmdi-flower"></i>
                                        </a>
                                        </span>
                                        <span class="login100-form-title p-b-34 p-t-27">
                                            Сброс пароля
                                        </span>
                                        <div class="text-center" style="margin-bottom:20px; ">
                                             <h6>Please enter (and confirm) your new password.</h6>
                                            </div>
                                        <div style="display:none">
                                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                        </div>
                                            <div class="text-center" style="margin-bottom: 20px;">
                                            {{ form.new_password1.errors }}
                                            {{ form.new_password2.errors }}
                                              </div>
                                        <div class="wrap-input100 validate-input" data-validate = "Enter username">
                                            {% render_field  form.new_password1  class="input100"  placeholder="Password" %}
                                        </div><!-- /.col-sm-6 -->

                                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                                            {% render_field form.new_password2 class="input100"  placeholder="Password" %}
                                        </div>
                                        <div class="container-login100-form-btn">
                                            <button class="login100-form-btn"  name="next" value="{{ next }}">
                                                Подтвердить
                                            </button>
                                        </div>
                                        <br>


                        </form>
                            {% endif %}


			</div>
		</div>
	</div>
    <!-- start js include path -->
    <script src="/static/panel/assets/plugins/jquery/jquery.min.js" ></script>
    <!-- bootstrap -->
    <script src="/static/panel/assets/plugins/bootstrap/js/bootstrap.min.js" ></script>
    <script src="/static/panel/assets/js/pages/extra_pages/login.js" ></script>
    <!-- end js include path -->
</body>
</html>