{% extends 'base_admin.html' %}
{% load i18n %}
{% load widget_tweaks %}


{% block content %}
    <div class="btc_pricing_main_wrapper">
        <div class="container">
            <div class="row">

         <div class="text-center" style="margin-bottom: 50px;">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="btc_steps_heading_wrapper">
                    <h1>О нас</h1>
                    <br>
                </div>
            </div>
         </div>
            <div class="col-md-5"  style="padding-top: 40px">
                <img src="/static/site/images/my_person.png" width="400" alt="">
            </div>
            <div class="col-md-7" style="padding-top: 30px">
                <p>Команда создателей проекта "Deltus.biz" – это уникальный международный коллектив акционеров, который состоит из специалистов и экспертов в области доверительного управления финансами, разработчиков торговых ботов для классических и крипто валютных площадок и кранов, а также менеджеров по созданию и продвижению высоко технологичных крипто монет, имеющих возможность POS майнинга. </p>
                <p>Акционеры проекта имеют опыт участия в действующих высокодоходных проектах в сфере социальных медиа и рекламы, в краткосрочных, среднесрочных и долгосрочных финансово-инвестиционных проектах. </p>
                <p>Обобщив имеющийся опыт, была поставлена задача создать финансово-инвестиционный проект, объединяющий все три основные вида вложений. При этом он должен быть надежен и интересен как для долгосрочных и крупных инвесторов, так и для любителей небольших краткосрочных инвестиций, иметь собственные продукты, дополнительные ресурсы, иметь понятную и эффективную реферальную систему, а в итоге пройти и собственную монетизацию.
Такой новый, высокотехнологический проект мы рады представить Вашему вниманию. Проект рассчитан как минимум на несколько лет. </p>
                <p>Создан гибкий универсальный инвестиционный план, позволяющий сделать финансово привлекательными и короткие, и средние, и долгосрочные вклады разной величины. В проекте используется эффективная и понятная реферальная система, делающая Ваш доход еще выше.
В рамках участников проекта будут реализоваться наши собственные, уже завершившие разработку и тестирование продукты, - боты для торговли на классических (Форекс) и криптовалютных площадках. Боты не сложны в управлении, приносят стабильный доход на различных торговых площадках.</p>
                <p>Будет выпущена своя криптовалюта, которую участники проекта смогут майнить у себя при помощи мастернод/pos
Под собственную монету нами уже создается ряд различных ресурсов, на которых она будет представлена.
Это и многое другое Вы увидите в дорожной карте проекта.
Все эти продукты и сервисы делаются для Вас, для Вашего удобства и комфорта в пользовании нашей современной инвестиционной системой. А главное – все сегменты проекта четко направлены на увеличение Ваших финансовых возможностей, выберите лишь самые комфортные для Вас!!!
Следите за новостями, Вас ждут приятные сюрпризы и выгодные акции!!!</p>

            </div>
     </div>
 <div style="margin-top: 100px;"></div>
 </div>
    </div>


{% endblock %}