
{% extends 'base_admin.html' %}
{% load i18n %}
{% load widget_tweaks %}


{% block content %}
                    <!-- mobile menu area end -->

                     <div class="container">
                         <div class="row">
                             <br>

                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                             <div class="text-center" style="padding-top: 20px; margin-bottom: 70px;">
                                 <br>
                                 <h2>ПОДДЕРЖКА</h2>
                             </div>
                             </div>

                                <div class="row">
                                    <form action="" method="post">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            {% render_field form.email class="form-control input-lg" placeholder="Email:" %}
                                        </div><!-- /.col-sm-6 -->

                                        <div class="form-group">
                                            {% render_field form.tema class="form-control input-lg" placeholder="Тема:" %}
                                        </div><!-- /.col-sm-6 -->
                                        <div class="form-group">
                                            {% render_field form.text class="form-control input-lg" placeholder="Сообщение:" %}
                                        </div><!-- /.col-md-12 -->
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-warning">Отправить</button>
                                        </div><!-- /.col-md-12 -->

                                    </form>
                                </div>
                         </div>
                     </div>

{% endblock %}