
{% extends 'base_admin.html' %}
{% load i18n %}
{% load widget_tweaks %}


{% block content %}
                    <!-- mobile menu area end -->
                     <div class="container">
                         <div class="row">

                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <div class="text-center" style="margin-top: 100px; margin-bottom: 70px;">
                                 <h1>FAQ</h1>
                                 <br>

                             </div>
                         </div>

                            <div class="accordion" id="accordionExample">
                                {% for item in faqs %}
                                    <div class="card" style="margin-bottom: 10px;">
                                        <div class="card-header" id="headingTwo" >
                                          <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" style="border-color: orange; width: 100%;border-radius: 8px;" type="button" data-toggle="collapse" data-target="#{{ item.id }}" aria-expanded="false" aria-controls="{{ item.id }}">
                                              <h4 style="color: orange; text-shadow: 0.5px 0.5px;">{{ item.name }}</h4>
                                            </button>
                                          </h2>
                                        </div>
                                                <div id="{{ item.id }}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                          <div class="card-body">
                                              <hr>
                                            <p>{{ item.info }}</p>
                                          </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                         </div>
                        <div style="margin-top: 100px;"></div>
                     </div>

{% endblock %}