{% extends 'base_admin.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="btc_pricing_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="btc_pricing_heading_main_wrapper">
                        <div class="btc_pricing_heading_wrapper">
                            <h1>Инвестиции</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="btc_pricing_box_wrapper">
                        <div class="btc_pricing_icon_wrapper">
                            <div class="btc_pricing_hover_effect">
                                <i class="flaticon-money"></i>
                                <div class="btc_step_overlay"></div>
                            </div>
                        </div>
                        <div class="btc_pricing_cont_wrapper">
                            <h3>Тариф USD</h3>
                            <div class="btc_pricing_cont_bottom_line"></div>
                            <div class="btc_pricing_cont_bottom_line_state"></div>
                            <br>
                            <ul>
                                <li><i class="fa fa-usd"></i> Начисления 0,5%-2% раз в 1 день</li>
                                <li><i class="fa fa-cogs"></i> Мин. сумма $30.00 </li>
                                <li><i class="fa fa-search"></i> Макс. сумма $10000.00 </li>

{#                                <li><i class="fa fa-key"></i> Control over your money</li>#}
{#                                <li><i class="fa fa-search"></i> Complete transparency</li>#}
{#                                <li><i class="fa fa-laptop"></i> Vulnerable environment</li>#}
{#                                <li><i class="fa fa-user"></i> Improved privacy</li>#}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="btc_pricing_box_wrapper">
                        <div class="btc_pricing_icon_wrapper">
                            <div class="btc_pricing_hover_effect">
                                <i class="flaticon-bitcoin-pocket-or-wallet"></i>
                                <div class="btc_step_overlay"></div>
                            </div>
                        </div>
                        <div class="btc_pricing_cont_wrapper">
                            <h3>Тариф BTC</h3>
                            <div class="btc_pricing_cont_bottom_line"></div>
                            <div class="btc_pricing_cont_bottom_line_state"></div>
                            <br>
                            <ul>
                                <li><i class="fa fa-usd"></i> Начисления 0,8 % раз в 1 день</li>
                                <li><i class="fa fa-cogs"></i> Мин. сумма 0,001 BTC </li>
                                <li><i class="fa fa-search"></i> Макс. сумма 10 BTC </li>

{#                                <li><i class="fa fa-key"></i> Control over your money</li>#}
{#                                <li><i class="fa fa-cogs"></i> Full validation</li>#}
{#                                <li><i class="fa fa-search"></i> Complete transparency</li>#}
{#                                <li><i class="fa fa-laptop"></i> Vulnerable environment</li>#}
{#                                <li><i class="fa fa-user"></i> Improved privacy</li>#}
{#                                <li><i class="fa fa-usd"></i> Full control over fees</li>#}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br>
                        <div class="btc_pricing_heading_main_wrapper">
                            <div class="btc_pricing_heading_wrapper">
                                <h1>Партнерская программа</h1>
                            </div>
                        </div>
                    </div>

                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="col-md-1">
                        *
                    </div>
                        {% for item_bonus in bonus %}
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="btc_pricing_box_wrapper">
                                    <div class="btc_pricing_icon_wrapper">
                                        <div class="btc_pricing_hover_effect">
                                            <i class="flaticon-money"></i>
                                            <div class="btc_step_overlay"></div>
                                        </div>
                                    </div>
                                    <div class="btc_pricing_cont_wrapper">
                                        <h3>{{ item_bonus.level }}</h3>
                                        <div class="btc_pricing_cont_bottom_line"></div>
                                        <div class="btc_pricing_cont_bottom_line_state"></div>
                                        <br>

                                        <ul>
                                            <h3>%{{ item_bonus.number }}</h3>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="col-md-1">
                        *
                    </div>
                {% for item_bonus in bonus_two_level %}
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="btc_pricing_box_wrapper">
                                    <div class="btc_pricing_icon_wrapper">
                                        <div class="btc_pricing_hover_effect">
                                            <i class="flaticon-money"></i>
                                            <div class="btc_step_overlay"></div>
                                        </div>
                                    </div>
                                    <div class="btc_pricing_cont_wrapper">
                                        <h3>{{ item_bonus.level }}</h3>
                                        <div class="btc_pricing_cont_bottom_line"></div>
                                        <div class="btc_pricing_cont_bottom_line_state"></div>
                                        <br>

                                        <ul>
                                            <h3>%{{ item_bonus.number }}</h3>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
                </div>

            </div>
        </div>
    </div>



{#        <div section-scroll='1' class="wd_scroll_wrap">#}
{#        <div class="btc_steps_main_wrapper" data-image-src="images/content/service_bg.jpg">#}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="btc_steps_heading_wrapper text-center">
                            <br>
                            <h1>Разовые премии</h1>
                            <br>
                            <p>Вы будете получать разовые выплаты за достижение новой суммы привлеченных средств от Ваших рефералов.</p>
                            <hr>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <br>
                        <h3></h3>
                            <table class="table text-center">
                              <thead>
                                <tr>
                                  <th style="text-align: center">Уровень</th>
                                  <th style="text-align: center">Сумма привлеченных средств</th>
                                  <th style="text-align: center">Ваша премия</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for item_status in status_usd %}
                                  <tr>
                                    <td>{{ item_status.name }}</td>
                                    <td><b>${{ item_status.oborot }}</b></td>
                                    <td><b> ${{ item_status.premia }} </b></td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <br>
                            <table class="table text-center">
                              <thead>
                                <tr>
                                  <th style="text-align: center">Уровень</th>
                                  <th style="text-align: center">Сумма привлеченных средств</th>
                                  <th style="text-align: center">Ваша премия</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for item_status in status_btc %}
                                  <tr>
                                    <td>{{ item_status.name }}</td>
                                    <td>BTC <b>{{ item_status.oborot }}</b></td>
                                    <td>BTC <b> {{ item_status.premia }} </b></td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        </div>#}

{#        </div>#}

{% endblock %}