{% extends 'base_admin.html' %}
{% load i18n %}
{% load widget_tweaks %}


{% block content %}
        <div class="btc_pricing_main_wrapper">

 <div class="container">
     <div class="row">

         <div class="text-center">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="btc_steps_heading_wrapper">
                    <h1>Планы развития</h1>
                    <br>
                </div>
            </div>
         </div>



            <div class="col-md-5"  style="padding-top: 40px">
                <img src="/static/site/images/my_person.png" width="400" alt="">
            </div>
            <div class="col-md-7" style="padding-top: 30px">
                <p>Проект «deltus.biz» начинает свою деятельность со сбалансированной и выверенной программы по доверительному управлению финансами, к которой будут подключаться различные продукты и сервисы, обеспечивающие рост и приумножение Ваших денежных средств.</p>
                <p>В настоящий момент проектом «Deltus.biz» создана и продолжает дорабатываться линейка IT – продуктов, позволяющих эффективно и легко получать автоматизированный системный доход на традиционных торговых площадках «Форекс» - уже закончили тестирование основные 2 торговых бота, готов к эксплуатации бот для торговли на криптобиржах. Эти виды нашей продукции будут предложены Вашему вниманию уже в ближайшее время.
                    Следующий этап развития проекта «Deltus.biz» – выпуск своей криптовалюты и размещение ее для торговли на 3-х – 4-х биржах. Акцентом в разработке алгоритма данной монеты является возможность свободного высокодоходного POS/MN майнинга для владельцев кошельков. Участники проекта в 1-ю очередь смогут приобрести криптовалюту по предпродажной цене на нашем сайте и пользоваться сверхдоходным майнингом в 1-е время, установив кошелек у себя на компьютере. Только участники нашего проекта смогут получать доход при помощи установки мастернод, позволяющих увеличить доход от «запертых» монет в несколько раз по сравнению с обычным майнингом, и без задействования собственных технических ресурсов.
                    Выпущенная монета, кроме кошелька и мастернод, будет представлена на ряде различных ресурсов, включая собственный обменный сервис, бассейн.</p>
                <p>Параллельно с этим команда акционеров проекта «Deltus.biz» планирует также создать и подключить к проекту ряд IT продуктов, связанных с рекламой и продвижением современных инвестиционных технологий.
                    Команда проекта «Deltus.biz» планирует поддерживать постоянную обратную связь с сообществом своих пользователей, все улучшения и изменения в проекте, добавление новых продуктов и сервисов будет обсуждаться в новостной ленте и в чатах проекта, будет учитываться Ваше мнение и Ваши пожелания!</p>
            </div>
     </div>
     </div>
    <div class="btc_pricing_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="btc_pricing_heading_main_wrapper">
                        <div class="btc_pricing_heading_wrapper">
                            <h1>Плати развития</h1>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="btc_pricing_box_wrapper">
                        <div class="btc_pricing_icon_wrapper">
                            <div class="btc_pricing_hover_effect">
                                <i class="fa fa-star"></i>
                                <div class="btc_step_overlay"></div>
                            </div>
                        </div>
                        <div class="btc_pricing_cont_wrapper">
                            <h3>Обменик</h3>
                            <div class="btc_pricing_cont_bottom_line"></div>
                            <div class="btc_pricing_cont_bottom_line_state"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="btc_pricing_box_wrapper">
                        <div class="btc_pricing_icon_wrapper">
                            <div class="btc_pricing_hover_effect">
                                <i class="fa fa-star"></i>
                                <div class="btc_step_overlay"></div>
                            </div>
                        </div>
                        <div class="btc_pricing_cont_wrapper">
                            <h3>Продажа крипто бота (арбитраж, скальпенгу)</h3>
                            <div class="btc_pricing_cont_bottom_line"></div>
                            <div class="btc_pricing_cont_bottom_line_state"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="btc_pricing_box_wrapper">
                        <div class="btc_pricing_icon_wrapper">
                            <div class="btc_pricing_hover_effect">
                                <i class="fa fa-star"></i>
                                <div class="btc_step_overlay"></div>
                            </div>
                        </div>
                        <div class="btc_pricing_cont_wrapper">
                            <h3>Сайт мониторинг мастер-нод</h3>
                            <div class="btc_pricing_cont_bottom_line"></div>
                            <div class="btc_pricing_cont_bottom_line_state"></div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="btc_pricing_box_wrapper">
                        <div class="btc_pricing_icon_wrapper">
                            <div class="btc_pricing_hover_effect">
                                <i class="fa fa-star"></i>
                                <div class="btc_step_overlay"></div>
                            </div>
                        </div>
                        <div class="btc_pricing_cont_wrapper">
                            <h3>Своя монета</h3>
                            <div class="btc_pricing_cont_bottom_line"></div>
                            <div class="btc_pricing_cont_bottom_line_state"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="btc_pricing_box_wrapper">
                        <div class="btc_pricing_icon_wrapper">
                            <div class="btc_pricing_hover_effect">
                                <i class="fa fa-star"></i>
                                <div class="btc_step_overlay"></div>
                            </div>
                        </div>
                        <div class="btc_pricing_cont_wrapper">
                            <h3>Игровая площадка</h3>
                            <div class="btc_pricing_cont_bottom_line"></div>
                            <div class="btc_pricing_cont_bottom_line_state"></div>
                        </div>
                    </div>
                </div>
                </div>


            </div>
        </div>
    </div>
</div>

{# <div style="margin-top: 100px;"></div>#}
 </div>
{% endblock %}