
{% extends 'base_admin.html' %}
{% load i18n %}
{% load widget_tweaks %}


{% block content %}
                    <!-- mobile menu area end -->
                     <div class="container">
                         <div class="row">

                             <div class="text-center" style="margin-top: 100px; margin-bottom: 70px;">
                                 <h1>Спасибо за сообщение</h1>
                                 <br>
                                 <img src="/static/site/images/content/Paper-Plan.png" alt="" style="width: 300px;height: 300px;">
                             <h2>Администрация сайта обязательно с вами свяжеться</h2>

                             </div>

                         </div>
                     </div>

{% endblock %}