
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Депозиты</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'user:profile' %}">Кабинет</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">Депозиты</li>
                    </ol>
                </div>
            </div>
        <div class="col-md-12 col-sm-12">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="col-md-12 col-sm-12">
                        <div class="page-title">Сделать депозит USD:</div>
                    </div>
                    <div class="card  card-box">
                        <div class="card-body ">
                            <div class="col-md-12 col-sm-12">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="name_category" value="usd">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                <input class = "mdl-textfield__input" type="number" name="suma_usd">
                                                <label class = "mdl-textfield__label">Сумма</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" style="padding-top: 22px">
                                            <button type="submit" class="btn dark btn-outline btn-circle m-b-10">Активировать</button>
                                        </div>
                                    </div>
                                </form>
                                <h5>{{ massag }}</h5>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="col-md-12 col-sm-12">
                        <div class="page-title">Сделать депозит BTC:</div>
                    </div>
                    <div class="card  card-box">
                        <div class="card-body ">
                            <div class="col-md-12 col-sm-12">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="name_category" value="bts">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                <input class = "mdl-textfield__input" type="number" name="suma_bts">
                                                <label class = "mdl-textfield__label">Сумма</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" style="padding-top: 22px">
                                            <button type="submit" class="btn dark btn-outline btn-circle m-b-10">Активировать</button>
                                        </div>
                                    </div>
                                </form>
                                <h5>{{ massag_btc }}</h5>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="col-md-12 col-sm-12">
                        <div class="page-title">Депозиты USD:</div>
                    </div>
                    <div class="card  card-box">
                        <div class="card-body ">
                            <br>
                            <table class="table display product-overview mb-30" id="support_table5">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Сумма</th>
                                        <th>Дата создания</th>
                                        <th>Активних дней</th>
                                        <th>Получено</th>
                                        <th>Статус</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dep in dep_usd %}
                                    <tr>
                                        <td><a href="{% url 'deposit:this_deposit_history_usd' deposit_id=dep.id %}">{{ dep.id }}</a></td>
                                        <td>${{ dep.sum }}</td>
                                        <td>{{ dep.datetime|date:'d-m-Y' }}</td>
                                        <td>{{ dep.count_day }}</td>
                                        <td>${{ dep.zarabotano }}</td>

                                        {% if dep.end == False %}
                                            <td>
                                                <span class="label label-sm label-success">Активен</span>
                                            </td>
                                            {% else %}
                                            <td>
                                                <span class="label label-sm label-danger">Завершен</span>
                                            </td>
                                        {% endif %}

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="pagination">
                              <span class="step-links">
                                {% if dep_usd.has_previous %}
                                  <a id="paginLeft" href="?page={{ dep_usd.previous_page_number }}">&laquo;</a>
                                {% endif %}

                                <span class="current">
                                  {{ dep_usd.number }} {% trans "of" %} {{ dep_usd.paginator.num_pages }}
                                </span>

                                {% if dep_usd.has_next %}
                                  <a id="paginRight" href="?page={{ dep_usd.next_page_number }}">&raquo;</a>
                                {% endif %}
                              </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="col-md-12 col-sm-12">
                        <div class="page-title">Депозиты BTC:</div>
                    </div>
                    <div class="card  card-box">
                        <div class="card-body ">
                            <br>
                            <table class="table display product-overview mb-30" id="support_table5">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Сумма</th>
                                        <th>Дата создания</th>
                                        <th>Активних дней</th>
                                        <th>Получено</th>
                                        <th>Статус</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dep in dep_btc %}
                                    <tr>
                                        <td>{{ dep.id }}</td>
                                        <td>${{ dep.sum }}</td>
                                        <td>{{ dep.datetime|date:'d-m-Y' }}</td>
                                        <td>{{ dep.count_day }}</td>
                                        <td>${{ dep.zarabotano }}</td>
                                        {% if dep.end == False %}
                                            <td>
                                                <span class="label label-sm label-success">Активен</span>
                                            </td>
                                            {% else %}
                                            <td>
                                                <span class="label label-sm label-danger">Завершен</span>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination">
                              <span class="step-links">
                                {% if dep_btc.has_previous %}
                                  <a id="paginLeft" href="?page={{ dep_btc.previous_page_number }}">&laquo;</a>
                                {% endif %}

                                <span class="current">
                                  {{ dep_btc.number }} {% trans "of" %} {{ dep_btc.paginator.num_pages }}
                                </span>

                                {% if dep_btc.has_next %}
                                  <a id="paginRight" href="?page={{ dep_btc.next_page_number }}">&raquo;</a>
                                {% endif %}
                              </span>
                            </div>

                        </div>
                    </div>
                </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-sidebar" style="padding-bottom: 100px">
                    </div>
                </div>
            </div>

            </div>
        </div>
        </div>
    </div>


{#            <div class="row">#}
{#                <div class="col-md-12 col-sm-12">#}
{#                    <div class="card  card-box">#}
{#                        <div class="card-body ">#}
{#                            <div class="table-wrap">#}
{#                                <h5>Партнерка с вклада</h5>#}
{#                                {% for bonus in bonus_contributions %}#}
{#                                    {{ bonus.name }} ,#}
{#                                {% endfor %}#}
{#                                <h5>Рефка с дохода</h5>#}
{#                                {% for bonus in bonus_incomes %}#}
{#                                    {{ bonus.name }} ,#}
{#                                {% endfor %}#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#        <div class="col-md-6 col-sm-6">#}
{#            <div class="row">#}
{#                <div class="col-md-12 col-sm-12">#}
{#                    <div class=" pull-left">#}
{#                        <div class="page-title">Сделать депозит USD:</div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 col-sm-6">#}
{##}
{#                    <div class="card  card-box">#}
{#                        <div class="card-head">#}
{#                            <div class="col-md-12 col-sm-12">#}
{#                                <div class=" pull-left">#}
{#                                    <div class="page-title">Сделать депозит USD:</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <header>Сделать депозит USD</header>#}
{#                            <div>#}
{#                                <div class="col-md-12 col-sm-12">#}
{#                                <form method="post">#}
{#                                    {% csrf_token %}#}
{#                                    <input type="hidden" name="name_category" value="usd">#}
{#                                    <div class="row">#}
{#                                        <div class="col-lg-6">#}
{#                                            <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">#}
{#                                                <input class = "mdl-textfield__input" type="number" name="suma_usd">#}
{#                                                <label class = "mdl-textfield__label">Сумма</label>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-lg-6" style="padding-top: 35px">#}
{#											<button type="submit" class="btn dark btn-outline btn-circle m-b-10">Активировать</button>#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{#                                </form>#}
{#                            </div>#}
{#                            </div>#}
{#                            <div class="tools">#}
{#                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>#}
{#                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>#}
{#                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="card-body ">#}
{#                          <div class="table-wrap">#}
{#                                <div class="table-responsive">#}
{#                                    <table class="table display product-overview mb-30" id="support_table5">#}
{#                                        <thead>#}
{#                                            <tr>#}
{#                                                <th>ID</th>#}
{#                                                <th>Сумма</th>#}
{#                                                <th>Дата создания</th>#}
{#                                                <th>Активних дней</th>#}
{#                                                <th>Получено</th>#}
{#                                                <th>Статус</th>#}
{#                                            </tr>#}
{#                                        </thead>#}
{#                                        <tbody>#}
{#                                            {% for dep in dep_usd %}#}
{#                                            <tr>#}
{#                                                <td><a href="{% url 'deposit:this_deposit_history_usd' deposit_id=dep.id %}">{{ dep.id }}</a></td>#}
{#                                                <td>${{ dep.sum }}</td>#}
{#                                                <td>{{ dep.datetime|date:'d-m-Y' }}</td>#}
{#                                                <td>{{ dep.count_day }}</td>#}
{#                                                <td>${{ dep.zarabotano }}</td>#}
{##}
{#                                                {% if dep.end == False %}#}
{#                                                    <td>#}
{#                                                        <span class="label label-sm label-success">Активен</span>#}
{#                                                    </td>#}
{#                                                    {% else %}#}
{#                                                    <td>#}
{#                                                        <span class="label label-sm label-danger">Завершен</span>#}
{#                                                    </td>#}
{#                                                {% endif %}#}
{##}
{#                                            </tr>#}
{#                                            {% endfor %}#}
{#                                        </tbody>#}
{#                                    </table>#}
{#                                    {% if dep_usd.has_other_pages %}#}
{#                                        <div style="text-align: center">#}
{#                                            <div class="nk-pagination nk-pagination-center">#}
{#                                                {% if dep_usd.has_previous %}#}
{#                                                <a href="?page={{ dep_usd.previous_page_number }}" class="nk-pagination-prev">#}
{#                                                    <span class="ion-ios-arrow-back"> < </span>#}
{#                                                </a>#}
{#                                                {% endif %}#}
{#                                                <nav>#}
{#                                                    {% for i in dep_usd.paginator.page_range %}#}
{#                                                      {% if dep_usd.number == i %}#}
{#                                                          <a class="nk-pagination-current" href="#">{{ i }}</a>#}
{#                                                      {% else %}#}
{#                                                          <a href="?page={{ i }}">{{ i }}</a>#}
{#                                                      {% endif %}#}
{#                                                    {% endfor %}#}
{#                                                </nav>#}
{##}
{#                                                {% if dep_usd.has_next %}#}
{#                                                <a href="?page={{ dep_usd.next_page_number }}" class="nk-pagination-next">#}
{#                                                    <span class="ion-ios-arrow-forward"> > </span>#}
{#                                                </a>#}
{#                                                {% endif %}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                </div>#}
{#                </div>#}
{#            <div class="col-md-6 col-sm-6">#}
{#            <div class="row">#}
{#                <div class="col-md-12 col-sm-12">#}
{#                    <div class=" pull-left">#}
{#                        <div class="page-title">Сделать депозит USD:</div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 col-sm-6">#}
{#                    <div class="card  card-box">#}
{#                        <div class="card-head">#}
{#                            <header>Сделать депозит USD</header>#}
{#                            <div style="padding: 20px">#}
{#                                <form method="post">#}
{#                                    {% csrf_token %}#}
{#                                    <input type="hidden" name="name_category" value="bts">#}
{#                                    <h5>Сумма:</h5>#}
{#                                    <input type="number" name="suma_bts" min=0 step="0.01">#}
{#                                    <button class="btn-rounded btn-outline-primary" type="submit"> <b> Активировать bts </b></button>#}
{#                                </form>#}
{#                            </div>#}
{#                            <div class="tools">#}
{#                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>#}
{#                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>#}
{#                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="card-body ">#}
{#                          <div class="table-wrap">#}
{#                                <div class="table-responsive">#}
{#                                    <table class="table display product-overview mb-30" id="support_table5">#}
{#                                        <thead>#}
{#                                            <tr>#}
{#                                                <th>ID</th>#}
{#                                                <th>Сумма</th>#}
{#                                                <th>Дата создания</th>#}
{#                                                <th>Активних дней</th>#}
{#                                                <th>Получено</th>#}
{#                                                <th>Статус</th>#}
{#                                            </tr>#}
{#                                        </thead>#}
{#                                        <tbody>#}
{#                                            {% for dep in dep_btc %}#}
{#                                            <tr>#}
{#                                                <td>{{ dep.id }}</td>#}
{#                                                <td>${{ dep.sum }}</td>#}
{#                                                <td>{{ dep.datetime|date:'d-m-Y' }}</td>#}
{#                                                <td>{{ dep.count_day }}</td>#}
{#                                                <td>${{ dep.zarabotano }}</td>#}
{#                                                {% if dep.end == False %}#}
{#                                                    <td>#}
{#                                                        <span class="label label-sm label-success">Активен</span>#}
{#                                                    </td>#}
{#                                                    {% else %}#}
{#                                                    <td>#}
{#                                                        <span class="label label-sm label-danger">Завершен</span>#}
{#                                                    </td>#}
{#                                                {% endif %}#}
{#                                            </tr>#}
{#                                            {% endfor %}#}
{#                                        </tbody>#}
{#                                    </table>#}
{#                                    {% if dep_btc.has_other_pages %}#}
{#                                        <div style="text-align: center">#}
{#                                            <div class="nk-pagination nk-pagination-center">#}
{#                                                {% if dep_btc.has_previous %}#}
{#                                                <a href="?page={{ dep_btc.previous_page_number }}" class="nk-pagination-prev">#}
{#                                                    <span class="ion-ios-arrow-back"> < </span>#}
{#                                                </a>#}
{#                                                {% endif %}#}
{#                                                <nav>#}
{#                                                    {% for i in dep_btc.paginator.page_range %}#}
{#                                                      {% if dep_btc.number == i %}#}
{#                                                          <a class="nk-pagination-current" href="#">{{ i }}</a>#}
{#                                                      {% else %}#}
{#                                                          <a href="?page={{ i }}">{{ i }}</a>#}
{#                                                      {% endif %}#}
{#                                                    {% endfor %}#}
{#                                                </nav>#}
{##}
{#                                                {% if dep_btc.has_next %}#}
{#                                                <a href="?page={{ dep_btc.next_page_number }}" class="nk-pagination-next">#}
{#                                                    <span class="ion-ios-arrow-forward"> > </span>#}
{#                                                </a>#}
{#                                                {% endif %}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#            </div>#}

{#                <div class="col-md-6 col-sm-6">#}
{##}
{##}
{##}
{#Сделать депозит#}
{##}
{##}
{#<form method="post">#}
{#    {% csrf_token %}#}
{#    <input type="hidden" name="name_category" value="usd">#}
{#    <input type="text" name="suma_usd" value="">#}
{#    <button style="width:400px; height:50px;" class="btn-rounded btn-outline-primary" type="submit"> <b> Активировать матрицу usd </b></button>#}
{#</form>#}
{##}
{##}
{#{% for dep in dep_usd %}#}
{#    <p>{{ dep.pk }} {{ dep.count_day }} {{ dep.datetime }}</p>#}
{#{% endfor %}#}
{##}
{##}
{##}
{#<form method="post">#}
{#    {% csrf_token %}#}
{#    <input type="hidden" name="name_category" value="bts">#}
{#    <input type="text" name="suma_bts" value="">#}
{#    <button style="width:400px; height:50px;" class="btn-rounded btn-outline-primary" type="submit"> <b> Активировать матрицу BTC </b></button>#}
{#</form>#}
{##}
{##}
{##}
{#{% for dep in dep_btc %}#}
{#    <p>{{ dep.pk }} {{ dep.count_day }} {{ dep.datetime }}</p>#}
{#{% endfor %}#}
{##}
{#            </div>#}
{#            </div>#}
{#            </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <div class="profile-sidebar" style="padding-bottom: 300px">#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#        </div>#}
{#    </div>#}
{% endblock %}