
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">История операций</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'user:profile' %}">Кабинет</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">История операций</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="card  card-box">
                        <div class="card-head">
                            <header>История USD</header>
                            <div class="tools">
{#                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>#}
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
{#                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>#}
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table style="text-align: center" class="table display product-overview mb-30" id="support_table5">
                                        <thead>
                                            <tr>
                                                <th>Дата</th>
                                                <th>Тип</th>
                                                <th>Сумма</th>
                                                <th>ID Депозита</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for his_dep in his_dep_usd %}
                                                <tr>
                                                    <td>{{ his_dep.datetime|date:'d-m-Y' }}</td>
                                                    <td>{{ his_dep.maseger }}</td>
                                                    <td>{{ his_dep.number }}</td>
                                                    {% if his_dep.deposit != None %}
                                                        <td>{{ his_dep.deposit }}</td>
                                                        {% else %}
                                                         <td>---</td>
                                                    {% endif %}
                                                    {% if his_dep.plus == True %}
                                                        <td>
                                                            <span class="label label-sm label-success"> + </span>
                                                        </td>
                                                        {% else %}
                                                        <td>
                                                            <span class="label label-sm label-danger"> - </span>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="pagination">
                                      <span class="step-links">
                                        {% if his_dep_usd.has_previous %}
                                          <a id="paginLeft" href="?page={{ his_dep_usd.previous_page_number }}">&laquo;</a>
                                        {% endif %}

                                        <span class="current">
                                          {{ his_dep_usd.number }} {% trans "of" %} {{ his_dep_usd.paginator.num_pages }}
                                        </span>

                                        {% if his_dep_usd.has_next %}
                                          <a id="paginRight" href="?page={{ his_dep_usd.next_page_number }}">&raquo;</a>
                                        {% endif %}
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="card  card-box">
                        <div class="card-head">
                            <header>История BTC</header>
                            <div class="tools">
{#                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>#}
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
{#                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>#}
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table style="text-align: center" class="table display product-overview mb-30" id="support_table5">
                                        <thead>
                                            <tr>
                                                <th>Дата</th>
                                                <th>Тип</th>
                                                <th>Сумма</th>
                                                <th>ID Депозита</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for his_dep in his_dep_btc %}
                                                <tr>
                                                    <td>{{ his_dep.datetime|date:'d-m-Y' }}</td>
                                                    <td>{{ his_dep.maseger }}</td>
                                                    <td>{{ his_dep.number }}</td>
                                                    <td>{{ his_dep.deposit }}</td>
                                                    {% if his_dep.plus == True %}
                                                        <td>
                                                            <span class="label label-sm label-success"> + </span>
                                                        </td>
                                                        {% else %}
                                                        <td>
                                                            <span class="label label-sm label-danger"> - </span>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="pagination">
                                      <span class="step-links">
                                        {% if his_dep_btc.has_previous %}
                                          <a id="paginLeft" href="?page={{ his_dep_btc.previous_page_number }}">&laquo;</a>
                                        {% endif %}

                                        <span class="current">
                                          {{ his_dep_btc.number }} {% trans "of" %} {{ his_dep_btc.paginator.num_pages }}
                                        </span>

                                        {% if his_dep_btc.has_next %}
                                          <a id="paginRight" href="?page={{ his_dep_btc.next_page_number }}">&raquo;</a>
                                        {% endif %}
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-sidebar" style="padding-bottom: 500px">
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}