
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Статусы</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'user:profile' %}">Кабинет</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">Статусы</li>
                    </ol>
                </div>
            </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">

            <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class=" pull-left">
                    <div class="page-title">USD:</div>
                </div>
            </div>
                <div class="col-md-12 col-sm-12">
                    <div class="card  card-box">
                        <div class="card-body ">
                            <div class="table-wrap">
                                <div class="row text-center">
                                    <div class="col-md-1 col-sm-1">
                                        <h4><i>№</i></h4>
                                    </div>
                                    <div class="col-md-2 col-sm-3">
                                        <h4><i>Уровень</i></h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <h4><i>Оборот</i></h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <h4><i>Ваша премия</i></h4>
                                    </div>

                                    <div class="col-md-3 col-sm-3">
                                        <h4><i>Реф Уровни</i></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for status in all_status_usd %}
                <div class="col-md-12 col-sm-12">
                    <div class="card_blog card-box">
                        <div class="card-body">
                            <div class="table-wrap">
                                <div class="row text-center">
                                    <div class="col-md-1 col-sm-1">
                                        <h4>{{ status.level }}</h4>
                                    </div>
                                    <div class="col-md-2 col-sm-3">
                                        <h4>{{ status.name }}</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <h4>${{ status.oborot }}</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <h4>${{ status.premia }}</h4>
                                    </div>

                                    <div class="col-md-3 col-sm-3">
                                        {% if status.desc_max_level_ref != None %}
                                            <h4>{{ status.desc_max_level_ref }}</h4>
                                            {% else %}
                                            <h4> </h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6 col-sm-6">

            <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class=" pull-left">
                    <div class="page-title">BTC:</div>
                </div>
            </div>
                <div class="col-md-12 col-sm-12">
                    <div class="card  card-box">
                        <div class="card-body ">
                            <div class="table-wrap">
                                <div class="row text-center">
                                    <div class="col-md-1 col-sm-1">
                                        <h4><i>№</i></h4>
                                    </div>
                                    <div class="col-md-2 col-sm-3">
                                        <h4><i>Уровень</i></h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <h4><i>Оборот</i></h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <h4><i>Ваша премия</i></h4>
                                    </div>

                                    <div class="col-md-3 col-sm-3">
                                        <h4><i>Реф Уровни</i></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for status in all_status_btc %}
                <div class="col-md-12 col-sm-12">
                    <div class="card_blog card-box">
                        <div class="card-body">
                            <div class="table-wrap">
                                <div class="row text-center">
                                    <div class="col-md-1 col-sm-1">
                                        <h4>{{ status.level }}</h4>
                                    </div>
                                    <div class="col-md-2 col-sm-3">
                                        <h4>{{ status.name }}</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <h4>${{ status.oborot }}</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <h4>${{ status.premia }}</h4>
                                    </div>

                                    <div class="col-md-3 col-sm-3">
                                        {% if status.desc_max_level_ref != None %}
                                            <h4>{{ status.desc_max_level_ref }}</h4>
                                            {% else %}
                                            <h4> </h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        </div>



            </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-sidebar" style="padding-bottom: 300px">
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}