
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">История операций</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'user:profile' %}">Кабинет</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">История операций</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="card  card-box">
                        <div class="card-head">
                            <header>История:</header>
                            <div class="tools">
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table style="text-align: center" class="table display product-overview mb-30" id="support_table5">
                                        <thead>
                                            <tr>
                                                <th>Дата</th>
                                                <th>Тип</th>
                                                <th>Сумма</th>
                                                <th>ID Депозита</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for his_dep in his_dep %}
                                                <tr>
                                                    <td>{{ his_dep.datetime|date:'d-m-Y' }}</td>
                                                    <td>{{ his_dep.maseger }}</td>
                                                    <td>{{ his_dep.number }}</td>
                                                    <td>{{ his_dep.deposit }}</td>
                                                    {% if his_dep.plus == True %}
                                                        <td>
                                                            <span class="label label-sm label-success"> + </span>
                                                        </td>
                                                        {% else %}
                                                        <td>
                                                            <span class="label label-sm label-danger"> - </span>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% if his_dep.has_other_pages %}
                                        <div style="text-align: center">
                                            <div class="nk-pagination nk-pagination-center">
                                                {% if his_dep.has_previous %}
                                                <a href="?page={{ his_dep.previous_page_number }}" class="nk-pagination-prev">
                                                    <span class="ion-ios-arrow-back"></span>
                                                </a>
                                                {% endif %}
                                                <nav>
                                                    {% for i in his_dep.paginator.page_range %}
                                                      {% if his_dep.number == i %}
                                                          <a class="nk-pagination-current" href="#">{{ i }}</a>
                                                      {% else %}
                                                          <a href="?page={{ i }}">{{ i }}</a>
                                                      {% endif %}
                                                    {% endfor %}
                                                </nav>

                                                {% if his_dep.has_next %}
                                                <a href="?page={{ his_dep.next_page_number }}" class="nk-pagination-next">
                                                    <span class="ion-ios-arrow-forward"></span>
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-sidebar" style="padding-bottom: 500px">
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}