
{% extends 'base_full_admin.html' %}
{% load i18n %}


{% block header %}
<!-- preloader Start -->
    <div id="preloader">
        <div id="status"><img src="/static/site/images/header/bitcoin-globe.gif" id="preloader_image" alt="loader">
        </div>
    </div>
    <!-- btc top header wrapper Start -->
    <div section-scroll='0' class="wd_scroll_wrap">
        <div class="btc_top_header_main_wrapper">
            <div class="container-fluid">
                <div class="btc_left_top_header_wrapper">
                    <p class="btc_topheader_welcome_pera"><b>{% trans 'Добро пожаловать в Deltus.biz' %}</b></p>
                    <div style="visibility: hidden;" id="ticker_window">
                        <div id="day_and_time">
                            <p style="visibility: hidden;" id="date" class="hidden-xs"></p>
                            <p></p>

                        </div>

                    </div>

                </div>
                <div class="btc_right_top_header_wrapper">
                    <ul>
                        <li class=""><a style="padding: 0px" href="{% url 'user:stregister' %}"> <i class="fa fa-user" aria-hidden="true"></i> Регистрация </a></li>

{#                        <li class="btc_topheader_welcome_pera"><i class="flaticon-phone-call"></i> o.site@gmail.com</li>#}
                        {% if request.user.is_active %}
                             <li><a href="{% url 'logout' %}"> <i class="fa fa-user" aria-hidden="true"></i> Выход </a></li>
                        {% else %}
                            <li><a href="{% url 'user:profile' %}"> <i class="fa fa-user" aria-hidden="true"></i> Вход </a></li>
                        {% endif %}


                        <li>
                            <span> <a style="padding: 0px; padding-left: 10px" href="/en/{{ CURRENT_URL }}">EN</a></span>
                        </li>
                        <li>
                            <span> <a style="padding: 0px; padding-left: 10px" href="/ru/{{ CURRENT_URL }}">RU</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- btc top header wrapper End -->
        <!-- Header Wrapper Start -->
        <div style="background: #1d282d" class="gc_main_menu_wrapper">
            <div class="container-fluid">
                <div id="search_open" class="gc_search_box">
                    <input type="text" placeholder="Search here">
                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-xs">
                        <div class="gc_header_wrapper">
                            <div class="gc_logo">
                                <a href="{% url 'home:home' %}"><img src="/static/site/images/header/logo_d2.png" width="90" alt="Logo"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="header-area hidden-menu-bar stick" id="sticker">
                        <!-- mainmenu start -->
                        <div class="gc_right_menu hidden-xs">
                            <ul>
                                {% if request.user.is_active %}
                                <li class="btc_join_navi_btn"><a href="{% url 'user:profile' %}"><b>{{ request.user }}</b></a></li>
                                    {% else %}
                                    <li class="btc_join_navi_btn"><a href="{% url 'user:profile' %}"><b>Вход</b></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="mainmenu hidden-xs">
                            <ul>
                                <li class="gc_main_navigation parent"><a style="color: white" href="{% url 'home:home' %}" class="gc_main_navigation">Главная</a></li>

                                <li class="gc_main_navigation parent"><a style="color: white" href="{% url 'home:about' %}" class="gc_main_navigation">О нас</a></li>

                                <li class="gc_main_navigation parent"><a style="color: white" href="{% url 'home:plans' %}" class="gc_main_navigation">Планы развития</a></li>

                                <li class="gc_main_navigation parent"><a style="color: white" href="{% url 'home:partner' %}" class="gc_main_navigation">Инвестиции</a></li>

                                <li class="gc_main_navigation parent"><a style="color: white" href="{% url 'home:faq' %}" class="gc_main_navigation">FAQ</a></li>

{#                                <li class="gc_main_navigation parent"><a href="contact.html" class="gc_main_navigation">Новости</a></li>#}

                                <li class="gc_main_navigation parent"><a style="color: white" href="{% url 'home:contacts' %}" class="gc_main_navigation">Контакты</a></li>
                            </ul>
                        </div>
                        <!-- mainmenu end -->
                        <!-- mobile menu area start -->
                        <div class="rp_mobail_menu_main_wrapper visible-xs">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="gc_logo">
                                        <a href="{% url 'home:home' %}"><img src="/static/site/images/header/logo_d2.png" alt="Logo" title="Bit Money"></a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div id="toggle">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.177 31.177" style="enable-background:new 0 0 31.177 31.177;" xml:space="preserve" width="25px" height="25px"><g><g><path class="menubar" d="M30.23,1.775H0.946c-0.489,0-0.887-0.398-0.887-0.888S0.457,0,0.946,0H30.23    c0.49,0,0.888,0.398,0.888,0.888S30.72,1.775,30.23,1.775z" fill="#000000"/></g><g><path class="menubar" d="M30.23,9.126H12.069c-0.49,0-0.888-0.398-0.888-0.888c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,8.729,30.72,9.126,30.23,9.126z" fill="#000000"/></g><g><path class="menubar" d="M30.23,16.477H0.946c-0.489,0-0.887-0.398-0.887-0.888c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,16.079,30.72,16.477,30.23,16.477z" fill="#000000"/></g><g><path class="menubar" d="M30.23,23.826H12.069c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,23.43,30.72,23.826,30.23,23.826z" fill="#000000"/></g><g><path class="menubar" d="M30.23,31.177H0.946c-0.489,0-0.887-0.396-0.887-0.887c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.398,0.888,0.888C31.118,30.78,30.72,31.177,30.23,31.177z" fill="#000000"/></g></g></svg>
                                    </div>
                                </div>
                            </div>

                            <div id="sidebar">
                                <h1><a href="#">Bit Money</a></h1>
                                <div id="toggle_close">&times;</div>
                                <div id='cssmenu'>
                                    <ul>
                                        <li class="gc_main_navigation parent"><a href="{% url 'home:home' %}" class="gc_main_navigation">Главная</a></li>

                                        <li class="gc_main_navigation parent"><a href="{% url 'home:about' %}" class="gc_main_navigation">О нас</a></li>

                                        <li class="gc_main_navigation parent"><a href="{% url 'home:plans' %}" class="gc_main_navigation">Планы развития</a></li>

                                        <li class="gc_main_navigation parent"><a href="{% url 'home:partner' %}" class="gc_main_navigation">Инвестиции</a></li>

                                        <li class="gc_main_navigation parent"><a href="{% url 'home:faq' %}" class="gc_main_navigation">FAQ</a></li>

        {#                                <li class="gc_main_navigation parent"><a href="contact.html" class="gc_main_navigation">Новости</a></li>#}

                                        <li class="gc_main_navigation parent"><a href="{% url 'home:contacts' %}" class="gc_main_navigation">Контакты</a></li>

                                        <br>
                                        {% if request.user.is_active %}
                                            <li class="btc_join_navi_btn"><a href="{% url 'user:profile' %}"><b>{{ request.user }}</b></a></li>
                                            {% else %}
                                            <li class="btc_join_navi_btn"><a href="{% url 'user:profile' %}"><b>Вход</b></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- mobile menu area end -->
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block wrapper %}
    {% block content_wrapper %}
        {% block content %}

        {% endblock %}
    {% endblock %}
{% endblock %}


{% block footer %}
    <div class="btc_footer_main_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <div class="btc_footer_logo_left">
                            <a href="#"><img src="/static/site/images/header/logo_d2.png" style="height: 80px;" alt="logo"/></a>
                        </div>
{#                        <div class="btc_footer_logo_right">#}
{#                            <p>The Central Common Government Offices#}
{#                                No. 7, 3-2-1 Kasumigaseki, Chiyoda-ku,#}
{#                                Токио, Япония#}
{#                            </p>#}
{#                        </div>#}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-1g col-md-offset-1">
                        <div class="btc_footer_social_wrapper">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                                <li><a href="#"><i class="fa fa-btc"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- btc footer Wrapper End -->
        <!-- btc bottom footer Wrapper Start -->
        <div class="btc_bottom_footer_main_wrapper">
            <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;"><span class="fa fa-angle-double-up"></span></a>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="btc_bottom_footer_left">
                            <p>© Deltus.biz | Все права защищены</p>
                        </div>
                    </div>
{#                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">#}
{#                        <div class="btc_bottom_footer_right">#}
{#                            <ul>#}
{#                                <p>Terms and Condition</p>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
