
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{% block page_title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="keywords" content="{% block meta_k %}{% endblock %}">
        <meta name="description" content="{% block meta_d %}{% endblock %}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="robots" content="index,follow" />
        <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />
        <meta name="author" content="Andrei Onishchuk" />

        {% for lang in LANGUAGES %}
            <link rel="alternate" hreflang="{{ lang.0 }}" href="http://{{ request.META.HTTP_HOST }}/{{ lang.0 }}/{{ CURRENT_URL }}" />
        {% endfor %}

        <link rel="shortcut icon" type="image/ico" href="{{ IMG_URL }}favicon.ico" />


        {% block css %}

            <link rel="stylesheet" type="text/css" href="/static/site/css/animate.css" />
            <link rel="stylesheet" type="text/css" href="/static/site/css/bootstrap.css" />
            <link rel="stylesheet" type="text/css" href="/static/site/css/font-awesome.css" />
            <link rel="stylesheet" type="text/css" href="/static/site/css/fonts.css" />
            <link rel="stylesheet" type="text/css" href="/static/site/css/flaticon.css" />
            <link rel="stylesheet" type="text/css" href="/static/site/css/owl.carousel.css" />
            <link rel="stylesheet" type="text/css" href="/static/site/css/owl.theme.default.css" />
            <link rel="stylesheet" type="text/css" href="/static/site/js/plugin/rs_slider/layers.css" />
            <link rel="stylesheet" type="text/css" href="/static/site/js/plugin/rs_slider/navigation.css" />
            <link rel="stylesheet" type="text/css" href="/static/site/js/plugin/rs_slider/settings.css" />
            <link rel="stylesheet" type="text/css" href="/static/site/css/style.css" />
            <link rel="stylesheet" type="text/css" href="/static/site/css/responsive.css" />
            <!-- favicon links -->
            <link rel="shortcut icon" type="image/png" href="/static/site/images/header/favicon.ico" />

        {% endblock %}

    </head>

    <body class="app sidebar-fixed aside-menu-off-canvas aside-menu-hidden header-fixed ">

        {% block body %}

            {% block header %}{% endblock %}

            {% block wrapper %}{% endblock %}

            {% block footer %}{% endblock %}

        {% endblock %}

    </body>

    {% block js %}
        <script src="/static/site/js/jquery_min.js"></script>
        <script src="/static/site/js/bootstrap.js"></script>
        <script src="/static/site/js/modernizr.js"></script>
        <script src="/static/site/js/parallax.min.js"></script>
        <script src="/static/site/js/owl.carousel.js"></script>
        <script src="/static/site/js/bit_timer.js"></script>
        <script src="/static/site/js/Chart.bundle.js"></script>
        <script src="/static/site/js/chart.js"></script>
        <script src="/static/site/js/plugin/rs_slider/jquery.themepunch.tools.min.js"></script>
        <script src="/static/site/js/plugin/rs_slider/jquery.themepunch.revolution.min.js"></script>
        <script src="/static/site/js/plugin/rs_slider/revolution.addon.snow.min.js"></script>
        <script src="/static/site/js/plugin/rs_slider/revolution.extension.actions.min.js"></script>
        <script src="/static/site/js/plugin/rs_slider/revolution.extension.carousel.min.js"></script>
        <script src="/static/site/js/plugin/rs_slider/revolution.extension.kenburn.min.js"></script>
        <script src="/static/site/js/plugin/rs_slider/revolution.extension.layeranimation.min.js"></script>
        <script src="/static/site/js/plugin/rs_slider/revolution.extension.migration.min.js"></script>
        <script src="/static/site/js/plugin/rs_slider/revolution.extension.navigation.min.js"></script>
        <script src="/static/site/js/plugin/rs_slider/revolution.extension.parallax.min.js"></script>
        <script src="/static/site/js/plugin/rs_slider/revolution.extension.slideanims.min.js"></script>
        <script src="/static/site/js/plugin/rs_slider/revolution.extension.video.min.js"></script>
        <script src="/static/site/js/custom.js"></script>
    {% endblock %}

</html>
