
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{% block page_title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="keywords" content="{% block meta_k %}{% endblock %}">
        <meta name="description" content="{% block meta_d %}{% endblock %}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="robots" content="index,follow" />
        <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />
        <meta name="author" content="Andrei Onishchuk" />

        {% for lang in LANGUAGES %}
            <link rel="alternate" hreflang="{{ lang.0 }}" href="http://{{ request.META.HTTP_HOST }}/{{ lang.0 }}/{{ CURRENT_URL }}" />
        {% endfor %}

        <link rel="shortcut icon" type="image/ico" href="{{ IMG_URL }}favicon.ico" />


        {% block css %}

            <!-- google font -->
            <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
            <!-- icons -->
            <link href="/static/panel/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
            <link href="/static/panel/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
            <!--bootstrap -->
            <link href="/static/panel/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <!-- Material Design Lite CSS -->
            <link rel="stylesheet" href="/static/panel/assets/plugins/material/material.min.css">
            <link rel="stylesheet" href="/static/panel/assets/css/material_style.css">
            <!-- animation -->
            <link href="/static/panel/assets/css/pages/animate_page.css" rel="stylesheet">
            <!-- Template Styles -->
            <link href="/static/panel/assets/css/style.css" rel="stylesheet" type="text/css" />
            <link href="/static/panel/assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
            <link href="/static/panel/assets/css/responsive.css" rel="stylesheet" type="text/css" />
            <link href="/static/panel/assets/css/theme-color.css" rel="stylesheet" type="text/css" />
            <!-- favicon -->
            <link rel="shortcut icon" href="/static/panel/assets/img/favicon.ico" />

        {% endblock %}

    </head>

    <body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">

        {% block body %}

            {% block header %}{% endblock %}

            {% block wrapper %}{% endblock %}

            {% block footer %}{% endblock %}

        {% endblock %}

    </body>

    {% block js %}



       <script src="/static/panel/assets/plugins/jquery/jquery.min.js" ></script>
        <script src="/static/panel/assets/plugins/popper/popper.min.js" ></script>
        <script src="/static/panel/assets/plugins/jquery-blockui/jquery.blockui.min.js" ></script>
        <script src="/static/panel/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <!-- bootstrap -->
        <script src="/static/panel/assets/plugins/bootstrap/js/bootstrap.min.js" ></script>
        <!-- Common js-->
        <script src="/static/panel/assets/js/app.js" ></script>
        <script src="/static/panel/assets/js/layout.js" ></script>
        <script src="/static/panel/assets/js/theme-color.js" ></script>
        <!-- Material -->
        <script src="/static/panel/assets/plugins/material/material.min.js"></script>
        <!-- animation -->
        <script src="/static/panel/assets/js/pages/ui/animations.js" ></script>

    {% endblock %}

</html>
