
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
   {% if request.user.is_superuser %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">

        <div class="col-md-12">
            <h3>Панель управления</h3>
            <h5> Баланс Payeer ${{ balanse_payeer }} </h5>
            <hr>
            <div class="col-md-12">
                <div class="card card-accent-theme">
                    <div class=" products-widget">

                <div class="container-fluid">

                             <div class="col-md-12 col-sm-12 col-xs-12 marg-money">

                                 <table class="table table-condensed text-left">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>User</th>
                                        <th>Дата</th>
                                        <th>Вивести</th>
                                        <th>(хотят)</th>
                                        <th>Кошелек</th>


{#                                        <th>Игра</th>#}
{#                                        <th>Вивод</th>#}
{#                                        #}
{#                                        <th>Кошелек</th>#}
{#                                        #}
{#                                        <th>Пополнил</th>#}
{#                                        <th>Перевели</th>#}
{#                                        <th>Вивел</th>#}
{#                                        <th>Зараб матрица</th>#}
{#                                        <th>Зараб бонуси</th>#}
{#                                        <th>Отправлено средств</th>#}

                                    </tr>
                                    </thead>
                                    <tbody>

                                        {% for payeer in payeer_outputs %}
                                            <form method="post"  prefix='banned'>
                                            {% csrf_token %}
                                            <input type="hidden" name="position" value="{{ payeer.pk }}">

                                            <tr>
                                                <td style="text-align:center">{{ payeer.id }}</td>
                                                <td>[{{ payeer.user.profile.pk }}] {{ payeer.user }}</td>
                                                <td>{{ payeer.datetime|date:'d-m-Y' }}</td>
                                                <td>
                                                    <button class="btn"> ok </button>
                                                </td>

                                                <td>
                                                    <font color="red" size="3"> <b>${{ payeer.money }}</b> </font>
                                                </td>

                                                {% if payeer.refka == True %}
                                                    <td>
                                                        <font color="#8b008b" size="3"> <b>Партнерские </b> </font>
                                                    </td>
                                                    {% else %}
                                                    <td>
                                                        <font color="#8b008b" size="3"> <b>Баланс вывода</b> </font>
                                                    </td>
                                                {% endif %}


{#                                                <td>${{ payeer.user.profile.expense }}</td>#}
{#                                                <td>#}
{#                                                    <font color="#1e90ff" size="3"> <b>${{  payeer.user.profile.obtaining_money }}</b> </font>#}
{#                                                </td>#}
{##}
                            {#                    <td>${{ payeer.user.profile.bali }}</td>#}
{##}
{#                                                <td>#}
{#                                                    <font color="red" size="3"> <b>${{  payeer.money }}</b> </font>#}
{#                                                </td>#}
{##}
{#                                                <td>{{ payeer.purse }}</td>#}
{##}
{##}
{#                                                #}
{#                                                <td>#}
{#                                                    <font color="green" size="3"> <b>${{ payeer.user.profile.pay_add }}</b> </font>#}
{#                                                </td>#}
{##}
{#                                                <td>#}
{#                                                    <font color="green" size="3"> <b>${{ payeer.user.profile.transfer_user_got }}</b> </font>#}
{#                                                </td>#}
{##}
{#                                                <td>#}
{#                                                    <font color="red" size="3"> <b>${{ payeer.user.profile.pay_del }}</b> </font>#}
{#                                                </td>#}
{##}
{#                                                <td>#}
{#                                                    <font color="#ffd700" size="3"> <b>${{ payeer.user.profile.zarab_matrix }}</b> </font>#}
{#                                                </td>#}
{##}
{#                                                <td>#}
{#                                                    <font color="#8b008b" size="3"> <b>${{ payeer.user.profile.matrix_bon_zara }}</b> </font>#}
{#                                                </td>#}
{##}
{#                                                <td>#}
{#                                                    <font color="#8b008b" size="3"> <b>${{ payeer.user.profile.transfer_expense_in_user }}</b> </font>#}
{#                                                </td>#}

                                            </tr>
                                            </form>
                                        {% endfor %}

                                    </tbody>
                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
{% endblock %}