
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Панель</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Главная</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">Панель</li>
                    </ol>
                </div>
            </div>

            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Финансы:</div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3>Payeer</h3>
                                <hr>
                                <h3> <b>${{ balanse_payeer }}</b></h3>
                                <hr>

                                <a href="{% url 'panel:panel_payeer_output' %}">
                                    <button type="button" class="btn btn-circle btn-default">Вывод</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3>Perfect</h3>
                                <hr>
                                <h3> <b>${{ pr_balans_perfect }}</b></h3>
                                <hr>

                                <a href="{% url 'money:perfect_admin' %}">
                                    <button type="button" class="btn btn-circle btn-default">Вывод</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Маркетинг:</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3>Депозити</h3>
                                <hr>
                                <a href="{% url 'panel:panel_deposit' %}">
                                    <button type="button" class="btn btn-circle btn-default">Открить</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


                 </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-sidebar" style="padding-bottom: 100px">
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}