
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Панель</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Главная</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">История USD</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table display product-overview mb-30" id="support_table5">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Users</th>
                                <th>Category</th>
                                <th>Sponsor</th>
                                <th>Maseger</th>
                                <th>Number</th>
                                <th>Plus</th>
                                <th>Bonus</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for history in historys %}
                            <tr>
                                <td>{{ history.id }}</td>
                                <td>{{ history.users }}</td>
                                <td>{{ history.category }}</td>
                                <td>{{ history.sponsor }}</td>
                                <td>{{ history.maseger }}</td>
                                <td>{{ history.number }}</td>
                                <td>{{ history.plus }}</td>
                                <td>{{ history.bonus }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


                 </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-sidebar" style="padding-bottom: 100px">
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}