
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Личный кабинет</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Главная</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">Личный кабинет</li>
                    </ol>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="panel-body">
                            <h3>USD:</h3>
                            <h4>%{{ cat_usd }}</h4>
                            <hr>
                            <h4>Количество депозитов которые должны получить выплату: <b>{{ count_active_deposit_usd }}</b></h4>
                            <h4>Количество депозитов не активных пользователей: <b>{{ count_active_deposit_no_active_user_usd }}</b></h4>
                            <h4>Количество всех депозитов: <b>{{ count_all_deposit }}</b></h4>
                            <hr>
                            <h4>Количество записей в истории за день по депозитам: <b>{{ count_history_usd }}</b></h4>
                            <hr>

                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="name_category" value="usd">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                            <input class = "mdl-textfield__input" type="number" name="liva">
                                            <label class = "mdl-textfield__label">От</label>
                                        </div>
                                        <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                            <input class = "mdl-textfield__input" type="number" name="prava">
                                            <label class = "mdl-textfield__label">По</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="padding-top: 22px">
                                        <button type="submit" class="btn dark btn-outline btn-circle m-b-10">Активировать Usd</button>
                                        <p style="color: red">Нумерация начинается с 0 и до числа которое хотите</p>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <a href="{% url 'panel:panel_history_usd' %}">История</a>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="panel-body">

                            <p>Count User = {{ count_all_user }}</p>
                            <p>count Active User = {{ count_active_user }}</p>

                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="name_category" value="active_user">
                                <button class="btn-rounded btn-outline-primary" type="submit"> <b> Перевести все кнопки пользователей в неактивные </b></button>
                            </form>


                        </div>
                    </div>
                </div>



                <div class="col-md-4">
{#                    <p>Count_user = {{ count_all_user }}</p>#}
{#                    <p>count_active_user = {{ count_active_user }}</p>#}
{#                    <p>Count_usd = {{ count_usd_depos }}</p>#}
{#                    <p>Count_bcd = {{ count_btc_depos }}</p>#}
{#                    <form method="post">#}
{#                        {% csrf_token %}#}
{#                        <input type="hidden" name="name_category" value="usd">#}
{#                        <button style="width:400px; height:50px;" class="btn-rounded btn-outline-primary" type="submit"> <b> Start USD </b></button>#}
{#                    </form>#}
{#                    <form method="post">#}
{#                        {% csrf_token %}#}
{#                        <input type="hidden" name="name_category" value="bts">#}
{#                        <button style="width:400px; height:50px;" class="btn-rounded btn-outline-primary" type="submit"> <b> Start BTC </b></button>#}
{#                    </form>#}
{#                    <form method="post">#}
{#                        {% csrf_token %}#}
{#                        <input type="hidden" name="name_category" value="active_user">#}
{#                        <button style="width:400px; height:50px;" class="btn-rounded btn-outline-primary" type="submit"> <b> Занулить пользователей </b></button>#}
{#                    </form>#}

                 </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-sidebar" style="padding-bottom: 100px">
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}