
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Вывод Perfect Money</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'user:profile' %}">Кабинет</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                    <li class="active">Вывод Perfect Money</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="card  card-box">
                        <div class=" products-widget">
                            <div class="col-md-6">
                                <br>

                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div>
                                        <h5>Сумма(10):&#42;</h5>
                                        {{ form.money|add_class:'form-control input-lg'}}
                                    </div>
                                    <br>
                                    <div class="styled-select slate">
                                      <select name="variant_vivoda">
                                        <option value="1">Баланс USD: ${{ request.user.profile.zarab_usd }}</option>
                                        <option value="2">Партнерские USD: ${{ request.user.profile.bonus_usd }} </option>
                                    </select>
                                    </div>
{#                                    <div class="row">#}
{##}
{#                                        <div class="col-md-6 text-center">#}
{#                                            <h4>Баланс USD можно выводить в пятницу</h4>#}
{#                                        </div>#}
{##}
{#                                        <div class="col-md-6 text-center">#}
{#                                            <h4>Ви вивели с баланса (Партнерские вознаграждения) <b>${{ request.user.profile.out_bonus_usd }}</b>#}
{#                                            <br> Максимум можно получить 400% от суммы своего личного депозита {{ contribution_usd }}</h4>#}
{#                                        </div>#}
{##}
{#                                        <div class="col-md-12">#}
{#                                            <hr>#}
{#                                            <h4 class="text-center">При выводе средств удерживается комиссия в размере <b>3.5%</b> от суммы вывода</h4>#}
{#                                        </div>#}
{#                                    </div>#}
                                    <br>
{#                                    <div class="col-md-12 col-sm-12 col-xs-12">#}
                                        <button class="btn btn-primary">Вывести</button>
{#                                    </div>#}
                                    <br>
                                </form>
                            </div>
                            <hr>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4 style="color: red"> {{ massage }} </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="col-md-12">
                    <div class="card  card-box">
                        <div class=" products-widget">
                            <div class="col-md-12">
                                <br>
                                <h5>Заявка на вывод средств (Perfect Money)</h5>
                                <hr>
                                {% for payeer_subtract in perfect_subtracts %}
                                    <p>Id: {{ payeer_subtract.id }} | <b>Sum: {{ payeer_subtract.money }}</b> | {{ payeer_subtract.datetime|date:'d-m-Y H:i:s' }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card  card-box">
                        <div class=" products-widget">
                            <div class="col-md-12">
                                <br>
                                <h5>История Вывода (Perfect Money):</h5>
                                <hr>
                                {% for end_payeer_subtract in end_perfect_subtracts %}
                                    <p>Id: {{ end_payeer_subtract.id }} | <b>Sum: {{ end_payeer_subtract.money }}</b> | {{ end_payeer_subtract.datetime|date:'d-m-Y H:i:s' }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="col-md-6">#}
{#                <div class="col-md-12">#}
{#                    <div class="card  card-box">#}
{#                        <div class=" products-widget">#}
{#                            <div class="col-md-12">#}
{#                                <br>#}
{#                                <h5>Заявка на вывод средств (Perfect Money)</h5>#}
{#                                <hr>#}
{#                                {% for payeer_subtract in perfect_subtracts %}#}
{#                                    <p>Id: {{ payeer_subtract.id }} | <b>Sum: {{ payeer_subtract.money }}</b> | {{ payeer_subtract.datetime|date:'d-m-Y H:i:s' }}</p>#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>

    </main>



{#    <div class="container">#}
{#        <div class="col-md-12 col-sm-12 col-xs-12 marg-money">#}
{#            <br>#}
{#            <header class="content-title">#}
{#                <div class="title-bg">#}
{#                    <h2 class="title">Вывод средств Perfect Money</h2>#}
{#                </div>#}
{#            </header>#}
{#            <br>#}
{#            <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                <div class="col-md-2 col-sm-2 col-xs-12">#}
{#                    <p><img src="{{ IMG_URL }}site/perfect3.jpg" alt="item1" class="item-image" width="150" height="150"></p>#}
{#                </div>#}
{#                <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                    <form action="" method="post">#}
{#                        {% csrf_token %}#}
{#                        <div class="input-group">#}
{#                            <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Сумма(10):&#42;</span></span>#}
{#                            {{ form.money|add_class:'form-control input-lg'}}#}
{#                        </div>#}
{#                        <div class="input-group">#}
{#                            <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Кошелек(U15946313):&#42;</span></span>#}
{#                            {{ form.purse|add_class:'form-control input-lg'}}#}
{#                        </div>#}
{##}
{#                        <h4>При выводе средств удерживается комиссия в размере 5% от суммы вывода</h4>#}
{##}
{#                        <p><font color="#FF1800" size="3">Внимательно проверяйте правильность заполнения полей ! </font></p>#}
{##}
{#                        <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                            <button class="btn btn-custom-2">Вывести</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#                <div class="col-md-4 col-sm-4 col-xs-12">#}
{#                    <h4>В Графе <b>«Сумма»</b> , указать сумму вывода, но не более суммы, отображенной в  Балансе вывода</h4>#}
{#                    <hr>#}
{#                    <h4>В Графе <b>«Кошелек»</b>, указать номер своего Кошелька Perfect Money , куда выводятся деньги</h4>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
        </div>
    </div>
{% endblock %}