
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Вывод Payeer</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'user:profile' %}">Кабинет</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">Вывод Payeer</li>
                    </ol>
                </div>
            </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="card  card-box">
                        <div class=" products-widget">
                            <div class="col-md-12">
                                <br>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div>
                                        <h5>Сумма(10):&#42;</h5>
                                        {{ form.money|add_class:'form-control input-lg'}}
                                    </div>
                                    <br>

                                    <div  class="styled-select slate">
                                      <select name="variant_vivoda">
                                        <option value="1">Баланс USD: ${{ request.user.profile.zarab_usd }}</option>
                                        <option value="2">Партнерские USD: ${{ request.user.profile.bonus_usd }} </option>
                                      </select>
                                    </div>


{#                                    <br>#}
{#                                    <div class="row">#}
{##}
{#                                        <div class="col-md-6 text-center">#}
{#                                            <h4>Баланс USD можно выводить в пятницу</h4>#}
{#                                        </div>#}
{##}
{#                                        <div class="col-md-6 text-center">#}
{#                                            <h4>Ви вивели с баланса (Партнерские вознаграждения) <b>${{ request.user.profile.out_bonus_usd }}</b>#}
{#                                            <br> Максимум можно получить 400% от суммы своего личного депозита {{ contribution_usd }}</h4>#}
{#                                        </div>#}
{##}
{#                                        <div class="col-md-12">#}
{#                                            <hr>#}
{#                                            <h4 class="text-center">При выводе средств удерживается комиссия в размере <b>3.5%</b> от суммы вывода</h4>#}
{#                                        </div>#}
{#                                    </div>#}

                                    <br>

{#                                    <div class="col-md-12 col-sm-12 col-xs-12">#}
                                        <button  class="btn btn-primary" type="submit">Вывести</button>
{#                                    </div>#}
                                 <br>
                                </form>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <hr>
                                <h4 style="color: red"> {{ massage }} </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="card  card-box">
                    <div class=" products-widget">
                        <div class="col-md-12">
                            <br>
                            <h5>Заявка на вывод средств (Payeer)</h5>
                            <hr>
                            {% for payeer_subtract in payeer_subtracts %}
                                <p>Id: {{ payeer_subtract.id }} | <b>Sum: {{ payeer_subtract.money }}</b> | {{ payeer_subtract.datetime|date:'d-m-Y H:i:s' }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-box">
                    <div class="products-widget">
                        <div class="col-md-12">
                            <br>
                            <h5>История Вывода (Payeer):</h5>
                            <hr>
                            {% for end_payeer_subtract in end_payeer_subtracts %}
                                <p>Id: {{ end_payeer_subtract.id }} | <b>Sum: {{ end_payeer_subtract.money }}</b> | {{ end_payeer_subtract.datetime|date:'d-m-Y H:i:s' }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
        </div>
    </div>
{% endblock %}