
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div style="padding-left: 40px" class="page-title">Вывод</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'user:profile' %}">Кабинет</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">Вывод</li>
                    </ol>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-box text-center">
                            <a href="{% url 'money:issuance_payeer' %}">
                                <img src="/static/panel/assets/img/payeer.png" style="width: 250px">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card  card-box text-center">
                            <a href="{% url 'money:issuance_perfect' %}">
                                <img src="/static/panel/assets/img/pm.png" style="width: 250px">
                            </a>
                        </div>
                    </div>
                    <div style="margin-top: 30px; margin-bottom: 100px " class="col-md-12">
                        <div style="padding-left: 30px" class="card  card-box">
                            <h3>Общая информация вивода:</h3>
                            <h4>Баланс USD можно выводить в пятницу</h4>
                            <h4>Ви вивели с баланса (Партнерские вознаграждения) <b>${{ request.user.profile.out_bonus_usd }}</b>
                            <br> Максимум можно получить 400% от суммы своего личного депозита {{ contribution_usd }}</h4>
                            <hr>
                            <h4>При выводе средств удерживается комиссия в размере <b>3.5%</b> от суммы вывода</h4>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}