
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    {% if request.user.is_superuser %}
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <br>
                         <div class="title-bg">
                             <h4 class="title">Вивод денег Perfect</h4>
                         </div>
                        <h3>Online:  {{ pr_balans_perfect }}</h3>
                        <div class="card card-accent-theme">
                    <div class=" products-widget">
                    <div class="col-md-12 col-sm-12 col-xs-12 marg-money">
                        <br>
                        <table class="table table-condensed text-left">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Пользователь</th>
                            <th>Дата</th>
                            <th>Вивести</th>
                            <th>(хотят)</th>
                            <th>Кошелек</th>
                        </tr>
                        </thead>
                        <tbody>

                            {% for perfect in all_perfects %}
                                <form method="post"  prefix='banned'>
                                {% csrf_token %}
                                <input type="hidden" name="position" value="{{ perfect.pk }}">

                                <tr>
                                    <td style="text-align:center">{{ perfect.id }}</td>
                                    <td>[{{ perfect.user.profile.pk }}] {{ perfect.user }}</td>
                                    <td>{{ perfect.datetime|date:'d-m-Y H:i:s' }}</td>

                                    <td>
                                        <button class="btn btn-custom dropdown-toggle"> ok </button>
                                    </td>
                                    <td>
                                        <font color="red" size="3"> <b>${{ perfect.money }}</b> </font>
                                    </td>

                                    {% if perfect.refka == True %}
                                        <td>
                                            <font color="#8b008b" size="3"> <b>Партнерские </b> </font>
                                        </td>
                                        {% else %}
                                        <td>
                                            <font color="#8b008b" size="3"> <b>Баланс вывода</b> </font>
                                        </td>
                                    {% endif %}



{#                                    <td>${{ perfect.user.profile.expense }}</td>#}
                {#                    <td>${{ perfect.user.profile.obtaining_money }}</td>#}
{#                                    <td>#}
{#                                        <font color="#1e90ff" size="3"> <b>${{  perfect.user.profile.obtaining_money }}</b> </font>#}
{#                                    </td>#}
{##}
{#                                    <td>${{ perfect.user.profile.bali }}</td>#}
{##}
{#                                    <td>#}
{#                                        <font color="red" size="3"> <b>${{  perfect.money }}</b> </font>#}
{#                                    </td>#}
{##}
{#                                    <td>{{ perfect.purse }}</td>#}
{##}
{##}
{##}
{#                                    <td>#}
{#                                        <font color="green" size="3"> <b>${{ perfect.user.profile.pay_add }}</b> </font>#}
{#                                    </td>#}
{##}
{#                                    <td>#}
{#                                        <font color="green" size="3"> <b>${{ perfect.user.profile.transfer_user_got }}</b> </font>#}
{#                                    </td>#}


                {##}
                {#                    <td>#}
                {#                        <font color="#ffd700" size="3"> <b>${{ perfect.user.profile.pay_zarab_key }}</b> </font>#}
                {#                    </td>#}
                {##}
                {#                    <td>#}
                {#                        <font color="#8b008b" size="3"> <b>${{ perfect.user.profile.pay_zarab_referal }}</b> </font>#}
                {#                    </td>#}
                {##}
                {#                    <td>#}
                {#                        <font color="#ffd700" size="3"> <b>${{ perfect.user.profile.pay_zarab_line }}</b> </font>#}
                {#                    </td>#}
                {##}
                {#                    <td>#}
                {#                        <font color="#8b008b" size="3"> <b>${{ perfect.user.profile.pay_zarab_line_referal }}</b> </font>#}
                {#                    </td>#}
                                </tr>
                                </form>
                            {% endfor %}

                        </tbody>
                    </table>
                 </div>
                 </div>
            </div>
        </div>
        </div>
            </div>
        </div>

 {% endif %}
{% endblock %}