
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

         <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">

            </div>

        <main class="main">
        <div class="offset-md-8">
            <ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
                <li class="breadcrumb-item ">
                    <a href="{% url 'user:profile' %}">Аккаунт</a>
                </li>
                <li class="breadcrumb-item active">Пополнения счета Perfect Money</li>
            </ol>
        </div>

        <div class="offset-md-3 col-md-8">
            <h3 style="padding-left: 80px">Пополнения счета Perfect Money</h3>
            <hr>
            <div class="col-md-8">
                <div class="card  card-box">
                    <div class=" products-widget">
                        <div class="col-md-12">
                            <br>
                            <form action="{{ url }}" method="POST">
                                 {% csrf_token %}
                                 <input type="hidden" name="PAYEE_ACCOUNT" value="U19769559">
                                 <input type="hidden" name="PAYEE_NAME" value="Deltus.biz">
                                 <input type="hidden" name="PAYMENT_UNITS" value="USD">
                                 <input type="hidden" name="STATUS_URL" value="http://deltus.biz/money/refill-perfect/">
                                 <input type="hidden" name="PAYMENT_URL" value="http://deltus.biz/money/refill-perfect/{{ sing }}">
                                 <input type="hidden" name="NOPAYMENT_URL" value="http://deltus.biz/info/">

                                 <input type="hidden" name="PAYMENT_AMOUNT" value="1">
                                 <div>
                                     <h5>Сумма:&#42;</h5>
                                    {{ form.money|add_class:'form-control input-lg'}}
                                 </div>

                                <div class="col-xs-12 col-md-12 col-sm-12 "style="padding-bottom: 10px">
                                    <br>
                                   <button type="submit" name="PAYMENT_METHOD" class="btn btn-primary">{{ name_button }}</button>
                                </div>


{#                                 <h3>Пополнить на ${{ money }}</h3>#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-md-3 col-md-8">
            <div class="col-md-8">
                <div class="card  card-box">
                    <div class=" products-widget">
                        <div class="col-md-12">
                            <br>
                            <h5>История Пополнения (Perfect Money):</h5>
                            <hr>
                            {% for end_refill_perfect in end_refill_perfect %}
                                <p>Id: {{ end_refill_perfect.id }} | <b>Sum: {{ end_refill_perfect.money }}</b> | {{ end_refill_perfect.datetime|date:'d-m-Y' }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



{#    <div class="container">#}
{#        <div class="col-md-12 col-sm-12 col-xs-12 marg-money">#}
{#            <br>#}
{#            <header class="content-title">#}
{#                <div class="title-bg">#}
{#                    <h2 class="title">Пополнения счета Perfect Money</h2>#}
{#                </div>#}
{#                <p class="title-desc">Основная валюта сайта доллары.</p>#}
{#            </header>#}
{#            <br>#}
{#            <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                <div class="col-md-4 col-sm-4 col-xs-12">#}
{#                    <p><img src="{{ IMG_URL }}site/perfect3.jpg" alt="item1" class="item-image" width="200" height="200"></p>#}
{#                </div>#}
{#                <div class="col-md-8 col-sm-8 col-xs-12">#}
{#                     <form action="{{ url }}" method="POST">#}
{#                         {% csrf_token %}#}
{#                         <input type="hidden" name="PAYEE_ACCOUNT" value="U15166223">#}
{#                         <input type="hidden" name="PAYEE_NAME" value="Gold-spiral">#}
{#                         <input type="hidden" name="PAYMENT_UNITS" value="USD">#}
{#                         <input type="hidden" name="STATUS_URL" value="http://gold-spiral.com/money/refill-perfect/">#}
{#                         <input type="hidden" name="PAYMENT_URL" value="http://gold-spiral.com/money/refill-perfect/{{ sing }}">#}
{#                         <input type="hidden" name="NOPAYMENT_URL" value="http://gold-spiral.com/info/">#}
{##}
{#                         <input type="hidden" name="PAYMENT_AMOUNT" value="{{ money }}">#}
{#                         <div class="input-group">#}
{#                            <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Сумма:&#42;</span></span>#}
{#                            {{ form.money|add_class:'form-control input-lg'}}#}
{#                         </div>#}
{##}
{#                         <button type="submit" name="PAYMENT_METHOD" class="btn btn-custom-2">{{ name_button }}</button>#}
{##}
{#                         <h3>Пополнить на ${{ money }}</h3>#}
{#                    </form>#}
{#                </div>#}
{##}
{#                <form action="https://perfectmoney.is/api/step1.asp" method="POST">#}
{#                <input type="hidden" name="PAYEE_ACCOUNT" value="U15166223">#}
{#                <input type="hidden" name="PAYEE_NAME" value="Gold-spiral">#}
{#                <input type="text" name="PAYMENT_ID" value=""><BR>#}
{#                <input type="text" name="PAYMENT_AMOUNT" value=""><BR>#}
{#                <input type="hidden" name="PAYMENT_UNITS" value="USD">#}
{#                <input type="hidden" name="STATUS_URL" value="">#}
{#                <input type="hidden" name="PAYMENT_URL" value="https://gold-spiral.com/">#}
{#                <input type="hidden" name="PAYMENT_URL_METHOD" value="LINK">#}
{#                <input type="hidden" name="NOPAYMENT_URL" value="https://gold-spiral.com/">#}
{#                <input type="hidden" name="NOPAYMENT_URL_METHOD" value="LINK">#}
{#                <input type="hidden" name="SUGGESTED_MEMO" value="">#}
{#                <input type="hidden" name="BAGGAGE_FIELDS" value="">#}
{#                <input type="submit" name="PAYMENT_METHOD" value="Pay Now!">#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}