
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div style="padding-left: 40px" class="page-title">Пополнения</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'user:profile' %}">Кабинет</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active">Пополнения</li>
                    </ol>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-4" style="padding-left: 50px">
                        <div class="card card-box text-center">
                            <a href="{% url 'money:refill_payeer' %}">
                                <img src="/static/panel/assets/img/payeer.png" style="width: 250px">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card  card-box text-center">
                            <a href="{% url 'money:refill_perfect' %}">
                                <img src="/static/panel/assets/img/pm.png" style="width: 250px">
                            </a>
                        </div>
                    </div>


{#                    <form action="https://www.coinpayments.net/index.php" method="post">#}
{#                        <input type="hidden" name="cmd" value="_pay_simple">#}
{#                        <input type="hidden" name="reset" value="1">#}
{#                        <input type="hidden" name="merchant" value="142cd1c4336f93de27c679d46d24b3a4">#}
{#                        <input type="hidden" name="item_name" value="testing">#}
{#                        <input type="hidden" name="currency" value="BTC">#}
{#                        <input type="text" name="amountf" value="1.00000000">#}
{#                        <input type="hidden" name="want_shipping" value="0">#}
{#                        <input type="image" src="https://www.coinpayments.net/images/pub/buynow-grey.png" alt="Купить используя CoinPayments.net">#}
{#                    </form>#}
{##}
{#                    <div class=" products-widget">#}
{#                        <div class="col-md-12">#}
{#                            <br>#}
{#                            <h5><a href="{% url 'money:refill_perfect' %}">Пополнения Perfect Money</a></h5>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>

{#    </main>#}

{#    <main class="main">#}
{#        <ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">#}
{#            <li class="breadcrumb-item ">#}
{#                <a href="{% url 'user:profile' %}">Аккаунт</a>#}
{#            </li>#}
{#            <li class="breadcrumb-item active">Пополнения</li>#}
{#        </ol>#}
{#        <div class="col-md-12">#}
{#            <h3>Пополнения</h3>#}
{#            <hr>#}
{#            <h3 class="item-name"><a href="{% url 'money:refill_payeer' %}"><font size="5">Payeer</font></a></h3>#}
{#        </div>#}
{##}
{##}
{#        <div class="col-md-12 col-sm-12 col-xs-12 marg-money">#}
{#            <br>#}
{#            <header class="content-title">#}
{#                <div class="title-bg">#}
{#                    <h2 class="title">Пополнения счета</h2>#}
{#                </div>#}
{#                <p class="title-desc">Основная валюта сайта доллары.</p>#}
{#            </header>#}
{#            <br>#}
{#            <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                    <div class="item item-hover services-box">#}
{#                        <div class="item-image-wrapper">#}
{#                            <figure class="item-image-container">#}
{#                                <a href="{% url 'money:refill_perfect' %}">#}
{#                                    <p><img src="{{ IMG_URL }}site/perfect3.jpg" alt="item1" class="item-image" width="10" height="10"></p>#}
{#                                    <img src="{{ IMG_URL }}site/perfect3.jpg" alt="item1  Hover" class="item-image-hover">#}
{#                                </a>#}
{#                            </figure>#}
{#                        </div>#}
{#                        <div class="item-meta-container">#}
{#                            <h3 class="item-name"><a href="{% url 'money:refill_perfect' %}"><font size="5">Perfect Money</font></a></h3>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-md-6 col-sm-6 col-xs-6">#}
{#                <hr>#}
{#                <h3>История Пополнения (Perfect Money):</h3>#}
{#                <table class="table table-condensed text-left">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>ID</th>#}
{#                        <th>Cумма</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{##}
{#                        {% for perfect in perfect_add %}#}
{#                            <tr>#}
{#                                <td style="text-align:center">{{ perfect.id }}</td>#}
{#                                <td>${{ perfect.money }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{##}
{#                    </tbody>#}
{#                </table>#}
{##}
{#                <h4>Общая сумма пополнения: ${{ perf_add_suma }}</h4>#}
{##}
{#                <div class="pagination-container clearfix">#}
{#                     <div class="pull-left page-count">#}
{#                         <br>#}
{#                         Cтраница {{ perfect_add.number }} из {{ perfect_add.paginator.num_pages }}#}
{#                     </div>#}
{##}
{#                     <div class="pull-right">#}
{#                         <ul class="pagination">#}
{#                             {% if perfect_add.has_previous %}#}
{#                                 <li><a href="?page={{ perfect_add.previous_page_number }}">«</a></li>#}
{#                             {% endif %}#}
{#                             <li><a href="">{{ perfect_add.number }}</a></li>#}
{#                             {% if perfect_add.has_next %}#}
{#                                 <li><a href="?page={{ perfect_add.next_page_number }}">»</a></li>#}
{#                             {% endif %}#}
{#                         </ul>#}
{#                     </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#    </main>#}
{% endblock %}