
{% extends 'base_panel.html.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="col-md-12">
                <h3>Пополнения счета Perfect Money</h3>
                <hr>
                <div class="col-md-12">
                    <div class="card card-accent-theme">
                        <div class=" products-widget">
                            <div class="col-md-12">
                                <br>
                                <h2>Счет пополнен</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}