
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
                <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12 marg-money">
             <br>
             <header class="content-title">
                <div class="title-bg">
                    <h2 class="title">Счет пополнен !!!</h2>
                    <p class="text-center">{{ status }}</p>
{#                    <p class="text-center">signature = {{ signature }}</p>#}
{#                    <p class="text-center">sing = {{ sing }}</p>#}
{#                    <p class="text-center">error_new_sign = {{ error_new_sign }}</p>#}
{#                    <p class="text-center">{{ descrip }}</p>#}
{#                    <p class="text-center">{{ m_desc }}</p>#}
{##}
{##}
{##}
{#                    <h5>Должно бить</h5>#}
{#                    <p class="text-center">refill = {{ my_refill.key }}</p>#}
{#                    <p class="text-center">pay_signature = {{ my_refill.pay_signature }}</p>#}
{##}
{#                    <h5>Дание</h5>#}
{#                    order_id = {{ my_refill.order_id }}#}
{#                    amount = {{ my_refill.amount }}#}
{#                    currency = {{ my_refill.currency }}#}
{#                    description = {{ my_refill.description }}#}
{##}
{#                    Результат#}
{#                    <p>{{ a_sign }}</p>#}
{#                    <p>{{ b_sign }}</p>#}
{#                    <p>{{ all_end_sign }}</p>#}
{##}




                </div>
             </header>
             <br>
         </div>
    </div>
        </div>
    </div>
{% endblock %}