
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

     <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">

            </div>


    <main class="main">
    <div class="offset-md-8">
        <ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
            <li class="breadcrumb-item ">
                <a href="{% url 'user:profile' %}">Аккаунт</a>
            </li>
            <li class="breadcrumb-item active">Пополнения счета Payeer</li>
        </ol>
    </div>
        <div class="offset-md-3 col-md-8">
            <h3 style="padding-left: 120px">Пополнения счета Payeer</h3>
            <hr>
            <div class="col-md-8">
                    <div class="card  card-box">
                        <div class="col-md-12">
                            <br>
                            <form method="post">
                                 {% csrf_token %}
                                 <h5>Сумма:&#42;</h5>
                                 {{ form.money|add_class:'form-control input-lg'}}

                                 <div class="col-xs-12 col-md-12 col-sm-12 " style="padding-bottom: 10px">
                                     <br>
                                    <button  class="btn btn-primary" type="submit"> <b> Пополнить </b></button>
                                </div>
                             </form>
                        </div>
                    </div>
            </div>
        </div>
        <div class="offset-md-3 col-md-8">
            <div class="col-md-8">
                <div class="card  card-box">
                    <div class=" products-widget">
                        <div class="col-md-12">
                            <br>
                            <h5>История Пополнения (Payeer):</h5>
                            <hr>
                            {% for end_refill_payeer in end_refill_payeers %}
                                <p>Id: {{ end_refill_payeer.id }} | <b>Sum: {{ end_refill_payeer.money }}</b> | {{ end_refill_payeer.datetime|date:'d-m-Y' }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{#    <div class="container">#}
{#         <div class="col-md-12 col-sm-12 col-xs-12 marg-money">#}
{#             <br>#}
{#             <header class="content-title">#}
{#                <div class="title-bg">#}
{#                    <h2 class="title">Пополнения счета Payeer</h2>#}
{#                </div>#}
{#                <p class="title-desc">Основная валюта сайта доллары.</p>#}
{#             </header>#}
{#             <br>#}
{#             <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                 <div class="col-md-3 col-sm-3 col-xs-12">#}
{#                     <p><img src="{{ IMG_URL }}site/payeer.png" alt="item1" class="item-image" width="200" height="200"></p>#}
{#                 </div>#}
{#                 <div class="col-md-3 col-sm-3 col-xs-12">#}
{#<div class="col-md-12 col-sm-12 col-xs-12">#}
{##}
{#             <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                 <div class="col-md-12 col-sm-12 col-xs-12 text-center">#}
{#                     <img src="{{ IMG_URL }}site/payeer.png" alt="Payeer">#}
{#                 </div>#}
{#                 <div class="col-md-12 col-sm-12 col-xs-12 text-center">#}
{#                     <form method="post">#}
{#                         {% csrf_token %}#}
{#                         <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Сумма:&#42;</span></span>#}
{#                         {{ form.money|add_class:'form-control input-lg'}}#}
{##}
{#                         <div class="col-xs-12 col-md-12 col-sm-12 ">#}
{#                             <br>#}
{#                            <button  class="btn btn-primary" type="submit"> <b> Пополнить </b></button>#}
{#                        </div>#}
{#                     </form>#}
{#                 </div>#}
{#             </div>#}
{#         </div>#}
{##}
{##}
{##}
{#                 </div>#}
{#             </div>#}
{#         </div>#}
{#    </div>#}

{% endblock %}

