
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
             <div class="col-md-12 col-sm-12 col-xs-12 marg-money">
                 <br>
                 <header class="content-title">
                    <div class="title-bg">
                        <h2 class="title">Вас счет пополнится</h2>
                    </div>
                 </header>
                 <br>
             </div>
        </div>
    </div>
{% endblock %}