
{% extends 'base_admin.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 marg-money">
            <header class="content-title">
                <div class="title-bg">
                    <h2 class="title">Перевод средств другому пользователю сайта.</h2>
                </div>
                <p class="title-desc">У вас деньги снимаются со счета (На вывод) А пользователь получает деньги на счет (На покупки).</p>
             </header>
             <br>
{#             <form id="tr1" method="post">#}
{#                 {% csrf_token %}#}
{#                 <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                     <div class="input-group">#}
{#                         <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Логин пользователя:&#42;</span></span>#}
{#                         {{ form.user_name|add_class:'form-control input-lg'}}#}
{#                     </div>#}
{#                     <div class="input-group">#}
{#                         <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Сумма перевода:&#42;</span></span>#}
{#                         {{ form.money|add_class:'form-control input-lg'}}#}
{#                     </div>#}
{#                 </div>#}
{##}
{#                 <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                     <button class="btn btn-custom-2">Отправить</button>#}
{#                 </div>#}
{#             </form>#}
         </div>
    </div>
{% endblock %}