
{% extends 'base_admin.html' %}


{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
         <div class="col-md-12 col-sm-12 col-xs-12 marg-money">
             <br>
             <header class="content-title">
                <div class="title-bg">
                    <h2 class="title">Перевод средств с Баланса Активации на Баланс Копилки</h2>
                </div>
             </header>
             <br>
            <p><font color="#FF1800" size="5">Для успешной транзакции необходимо чтобы на Балансе Активации оставалось хоть немного средст !!! </font></p>
             <br>

             <form method="post">
                 {% csrf_token %}
                 <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="input-group">
                         <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Сумма перевода::&#42;</span></span>
                         {{ form_expense.money|add_class:'form-control input-lg'}}
                     </div>
                 </div>

                 <div class="col-md-12 col-sm-12 col-xs-12">
                     <button class="btn btn-primary btn-round">Отправить</button>
                 </div>
             </form>
            <div class="col-md-12 col-sm-12 col-xs-12">
             <hr>
             <h3>История переводов:</h3>
                <table class="table table-condensed text-left">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Дата</th>
                        <th>Cумма</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for all_transfer_expense in all_transfer_expenses %}
                            <tr>
                                <td style="text-align:center">{{ all_transfer_expense.id }}</td>
                                <td>{{ all_transfer_expense.datetime|date:'d-m-Y H:i:s' }}</td>
                                <td>${{ all_transfer_expense.money }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <br>

                <div class="pagination-container clearfix">
                     <div class="pull-left page-count">
                         <br>
                         Cтраница {{ all_transfer_expenses.number }} из {{ all_transfer_expenses.paginator.num_pages }}
                     </div>

                     <div class="pull-right">
                         <ul class="pagination">
                             {% if all_transfer_expenses.has_previous %}
                                 <li><a href="?page={{ all_transfer_expenses.previous_page_number }}">«</a></li>
                             {% endif %}
                             <li><a href="">{{ all_transfer_expenses.number }}</a></li>
                             {% if all_transfer_expenses.has_next %}
                                 <li><a href="?page={{ all_transfer_expenses.next_page_number }}">»</a></li>
                             {% endif %}
                         </ul>
                     </div>
                 </div>
                 </div>

         </div>
    </div>
{% endblock %}