{% extends 'base_admin.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 marg-money">
             <header class="content-title">
                <div class="title-bg">
                    <h2 class="title">Внутренний перевод</h2>
                </div>
                <p class="title-desc">У вас деньги снимаются со счета (На вывод) и зачисляются на счет (На активацию).</p>
             </header>
             <br>
         </div>
    </div>
{% endblock %}