
{% extends 'base_admin.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <main class="main">
        <ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
            <li class="breadcrumb-item active">Аккаунт</li>
        </ol>
        <br>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">

{#                <div class="col-md-6 col-sm-6 col-xs-12 text-center">#}
{#                    <div class="brd-transfer">#}
{#                        <br>#}
{#                        <h2>Перевод средств с Копилки на покупку Ключей</h2>#}
{#                        <a href="{% url 'money:transfer_bali_in_activation' %}"><button class="btn btn-custom-2">Перевести</button></a>#}
{#                    </div>#}
{#                </div>#}
                    <div class="col-md-12">
                        <div class="card card-accent-theme">
                            <div class=" products-widget">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    <div class="brd-transfer">
                                        <br>
                                        <h5>Перевод средств с Баланса Вывода на Баланс Покупок</h5>
                                        <a href="{% url 'money:transfer_money_vivod_in_activation' %}"><button class="btn btn-primary btn-round">Перевести</button></a>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{##}
{#             <div class="col-md-6 col-sm-6 col-xs-12 text-center">#}
{#                <div class="brd-transfer">#}
{#                    <br>#}
{#                    <h2>Перевод средств с Баланса Активацию на Баланс Копилки</h2>#}
{#                    <a href="{% url 'money:transfer_money_expense_in_bali' %}"><button class="btn btn-custom-2">Перевести</button></a>#}
{#                </div>#}
{#             </div>#}
{##}
            <div class="col-md-12">
                <div class="card card-accent-theme">
                    <div class=" products-widget">
                         <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="brd-transfer">
                                <br>
                                <h5>Перевод средств с Баланса Покупок другому пользователю</h5>
                                <a href="{% url 'money:transfer_vivod_in_activation_user' %}"><button class="btn btn-primary btn-round">Перевести</button></a>
                                <br>
                            </div>
                         </div>
                    </div>
                </div>
            </div>

        </div>
    </di>
                </div>
            </div>
        </div>
    </main>
{% endblock %}