
{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
        <main class="main">
        <ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
            <li class="breadcrumb-item ">
                <a href="{% url 'user:profile' %}">Аккаунт</a>
            </li>
            <li class="breadcrumb-item active">Вывод</li>
        </ol>

        <div class="col-md-12">
            <h3>Вывод</h3>
            <hr>
            <div class="col-md-12">
                <div class="card card-accent-theme">
                    <div class=" products-widget">
                        <div class="col-md-12">
                            <br>
                            <h5>Подтверждение перевода</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>


         <div class="col-md-12 col-sm-12 col-xs-12 marg-money">

             <table class="table table-condensed text-left">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Покупка</th>
                </tr>
                </thead>
                <tbody>

                    {% for all_transfer_expense in all_transfer_vivod %}
                        <form method="post"  prefix='banned'>
                        {% csrf_token %}
                        <input type="hidden" name="position" value="{{ all_transfer_expense.pk }}">

                        <tr>
                            <td style="text-align:center">{{ all_transfer_expense.id }}</td>
                            <td>{{ all_transfer_expense.datetime|date:'d-m-Y H:i:s' }}</td>
                            <td>${{ all_transfer_expense.moneys }}</td>
                            <td>
                                <button style="width:150px; height:35px; margin-bottom: 20px;" class="btn btn-primary btn-round">Подтвердить</button>
                            </td>
                        </tr>
                        </form>
                    {% endfor %}

                </tbody>
            </table>


         </div>
    </div>
        </main>

{% endblock %}