
{% extends 'base_admin.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <main class="main">
        <ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
            <li class="breadcrumb-item ">
                <a href="{% url 'user:profile' %}">Аккаунт</a>
            </li>
            <li class="breadcrumb-item active">Вывод</li>
        </ol>

        <div class="col-md-12">

            <div class="col-md-12">
                <div class="card card-accent-theme">
                    <div class=" products-widget">
                        <div class="col-md-12">
                            <br>
                            <h5>Перевод средств с Баланса Покупок другому пользователю</h5>
                        </div>
                    </div>



         <div class="col-md-12 col-sm-12 col-xs-12 marg-money">
             <br>


             <form method="post">
                 {% csrf_token %}
                 <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="input-group">
                         <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Сумма перевода::&#42;</span></span>
                         {{ form.money|add_class:'form-control input-lg'}}
                         <br>
                     </div>
                 </div>
                 <div class="col-md-12 col-sm-12 col-xs-12">
                     <br>
                     <div class="input-group">
                         <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Пользователь::&#42;</span></span>
                         {{ form.user_name|add_class:'form-control input-lg'}}
                     </div>
                 </div>

                 <div class="col-md-12 col-sm-12 col-xs-12">
                     <button class="btn btn-primary btn-round">Отправить</button>
                 </div>
             </form>

             <div class="col-md-12 col-sm-12 col-xs-12">
             <hr>
             <h3>История переводов:</h3>
                <table class="table table-condensed text-left">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Дата</th>
                        <th>Cумма</th>
                        <th>User</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for transfer in transfers %}
                            <tr>
                                <td style="text-align:center">{{ transfer.id }}</td>
                                <td>{{ transfer.datetime|date:'d-m-Y H:i:s' }}</td>
                                <td>${{ transfer.money }}</td>
                                <td>{{ transfer.user_name }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <br>

                </div>


         </div>
    </div>
    </main>

{% endblock %}