
{% extends 'base_admin.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
         <div class="col-md-12 col-sm-12 col-xs-12 marg-money">
             <br>
             <header class="content-title">
                <div class="title-bg">
                    <h2 class="title">У вас не хватает денег для вывода. Минимальная сумма $1</h2>
                </div>
             </header>
             <br>
         </div>
    </div>
{% endblock %}