
{% extends 'base_admin.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 marg-money">
             <header class="content-title">
                <div class="title-bg">
                    <h2 class="title">Перевод средств с Копилки на покупку Ключей</h2>
                </div>
                <p class="title-desc">Деньги снимаются с Баланса Копилки и зачисляются на Баланс активации.</p>
             </header>
             <br>
{#             <form id="tr3" method="post">#}
{#                 {% csrf_token %}#}
{#                 <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                     <div class="input-group">#}
{#                         <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Сумма перевода::&#42;</span></span>#}
{#                         {{ transfer_piggy_bank.moneys|add_class:'form-control input-lg'}}#}
{#                     </div>#}
{#                 </div>#}
{##}
{#                 <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                     <button class="btn btn-custom-2">Отправить</button>#}
{#                 </div>#}
{#             </form>#}
         </div>
    </div>
{% endblock %}