
{% extends 'base_admin.html' %}


{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <main class="main">
        <ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
            <li class="breadcrumb-item active">Аккаунт</li>
        </ol>
        <br>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">

         <div class="col-md-12 col-sm-12 col-xs-12 marg-money">
         <div class="card">
                            <div class="card-body">
             <br>
             <header class="content-title">
                <div class="title-bg">
                    <h5 class="title">Подтверждение перевода</h5>
                </div>
             </header>
             <br>
             <table class="table table-condensed text-left">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Покупка</th>
                </tr>
                </thead>
                <tbody>

                    {% for all_transfer_expense in all_transfer_expenses %}
                        <form method="post"  prefix='banned'>
                        {% csrf_token %}
                        <input type="hidden" name="position" value="{{ all_transfer_expense.pk }}">

                        <tr>
                            <td style="text-align:center">{{ all_transfer_expense.id }}</td>
                            <td>{{ all_transfer_expense.datetime|date:'d-m-Y H:i:s' }}</td>
                            <td>${{ all_transfer_expense.money }}</td>
                            <td>
                                <button style="width:150px; height:35px; margin-bottom: 20px;" class="btn btn-custom dropdown-toggle">Подтвердить</button>
                            </td>
                        </tr>
                        </form>
                    {% endfor %}

                </tbody>
            </table>


         </div>
    </div>
         </div>
    </div>

                </div>
            </div>
        </div>
    </main>
{% endblock %}