
{% extends 'base_admin.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <main class="main">
        <ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
            <li class="breadcrumb-item active">Аккаунт</li>
        </ol>
        <br>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 marg-money">
                        <div class="card card-accent-theme">
                            <div class=" products-widget">
                                <br>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                <h5>Перевод средств с Баланса Вывода на Баланс Покупок</h5>
                                    <br>


             <form method="post">
                 {% csrf_token %}
                 <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="input-group">
                         <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Сумма перевода::&#42;</span></span>
                         {{ form.moneys|add_class:'form-control input-lg'}}
                     </div>
                 </div>

                 <div class="col-md-12 col-sm-12 col-xs-12">
                     <button class="btn btn-primary btn-round">Отправить</button>
                 </div>
             </form>

             <div class="col-md-12 col-sm-12 col-xs-12">
             <hr>
             <h3>История переводов:</h3>
                <table class="table table-condensed text-left">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Дата</th>
                        <th>Cумма</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for transfer in transfer_money_vivod_in_activation_list %}
                            <tr>
                                <td>{{ transfer.id }}</td>
                                <td>{{ transfer.datetime|date:'d-m-Y H:i:s' }}</td>
                                <td>${{ transfer.moneys }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <br>

                <div class="pagination-container clearfix">
                     <div class="pull-left page-count">
                         <br>
                         Cтраница {{ transfer_money_vivod_in_activation_list.number }} из {{ transfer_money_vivod_in_activation_list.paginator.num_pages }}
                     </div>

                     <div class="pull-right">
                         <ul class="pagination">
                             {% if transfer_money_vivod_in_activation_list.has_previous %}
                                 <li><a href="?page={{ transfer_money_vivod_in_activation_list.previous_page_number }}">«</a></li>
                             {% endif %}
                             <li><a href="">{{ transfer_money_vivod_in_activation_list.number }}</a></li>
                             {% if transfer_money_vivod_in_activation_list.has_next %}
                                 <li><a href="?page={{ transfer_money_vivod_in_activation_list.next_page_number }}">»</a></li>
                             {% endif %}
                         </ul>
                     </div>
                 </div>
                </div>


         </div>
    </div>
            </div>
        </div>
            </div>
        </div>
    </main>
{% endblock %}