
{% extends 'base_panel.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Вывод</div>
                    </div>
{#                    <ol class="breadcrumb page-breadcrumb pull-right">#}
{#                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'user:profile' %}">Кабинет</a>&nbsp;<i class="fa fa-angle-right"></i></li>#}
{#                        <li class="active">Депозиты</li>#}
{#                    </ol>#}
                </div>
            </div>
{#<main class="main">#}
{#    <ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">#}
{#        <li class="breadcrumb-item active">Аккаунт</li>#}
{#    </ol>#}
{#    <br>#}
{#    <div class="container-fluid">#}
{#        <div class="animated fadeIn">#}
            <div class="row">
                 <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="card card-accent-theme">
                         <div class="col-md-12">
                            <div class=" products-widget text-center">
                                <br>
                                <h3>Заявка на Вывод денег принята и будет рассмотрена!
                                <br> После прохождения модерации, деньги в течении <br> 72 часов, автоматически, поступят на Ваш Кошелек.
                                <br> Желаем успешной совместной работы! </h3>
                            </div>
                        </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}